<div class="public-top-layout">
	<div class="topBar w-1200">
		<div class="user-entry">
			<img src="/fds/images/index8/icon.png">
			<a href="" class="display1 mb_false_0">手机版</a><span class="display1 mb_false_0"></span>
			<a href="" class="display1 mb_true_0">返回手机版</a><span class="display1 mb_true_0"></span>
			<a href="" target="_blank">客户端</a><span></span>
			<a href="javascript:void(0);" onClick="window.external.AddFavorite('https://www.mh163k.com/','163k地方门户网站系统');return false;">收藏本站</a>            
		</div>
		<div class="quick-menu login_info" id="login_info">
			<dl style="width:84px;"><dt>你好，<a href="{:url('login/index')}" class="cur">请登录</a></dt></dl><dl><dt class="zn"><a href="{:url('login/reg')}">免费注册</a></dt></dl><dl class="xian"></dl><dl><dt class="zn"><a href="">QQ登录</a></dt></dl><dl class="xian"></dl><dl><dt class="zn"><a href="">微信登录</a></dt></dl><dl class="xian"></dl>
		   <dl> 
	           <dt class="zn"><a href="">积分商城</a></dt>
	       </dl>
	       <dl class="xian"></dl>
	      <dl class="long">
	        <dt><a href="javascript:void(0);">我的中心</a><i></i></dt>
	        <dd>
	          <ul>
	            <li><a href="">基本资料</a></li>
	            <li><a href="">我的收藏</a></li>
				<li><a href="">我的订单</a></li>
				<li><a href="">我的信息</a></li>
	            <li><a href="">修改密码</a></li>
	          </ul>
	        </dd>
	      </dl>
		  <dl class="xian"></dl>
		  <dl class="long">
	        <dt><a href="javascript:void(0);" style="color:#f78115;">工作平台</a><i></i></dt>
	        <dd>
	          <ul>
			    <li><a href="" target="_blank">商家平台</a></li>
			    <li><a href="" target="_blank">企业平台</a></li>
	            <li><a href="" target="_blank">中介平台</a></li>
	            <li><a href="" target="_blank">配送员</a></li>
				<li><a href="" target="_blank">会员中心</a></li>
	          </ul>
	        </dd>
	      </dl>
	      <dl class="xian"></dl>
	      <dl class="long">
	        <dt><a href="javascript:void(0);">快速发布</a><i></i></dt>
	        <dd>
	          <p><a href="" target="_blank">生活信息</a></p>
				<p><a href="" target="_blank">求职简历</a></p>
				<p><a href="" target="_blank">招聘信息</a></p>
				<p><a href="" target="_blank">新闻投稿</a></p>
				<p><a href="" target="_blank">登记店铺</a></p>
				<p><a href="" target="_blank">发布商品</a></p>
				<p><a href="" target="_blank">房源出租</a></p>
				<p><a href="" target="_blank">房源出售</a></p>
	        </dd>
	      </dl>
	      <dl class="xian"></dl>
	      <dl class="long">
	        <dt><a href="javascript:void(0);">网站导航</a><i></i></dt>
	        <dd>
	          <ul>
	            <li><a href="">帮助中心</a></li>
	            <li><a href="">留言建议</a></li>
	            <li><a href="">联系我们</a></li>
	          </ul>
	        </dd>
	      </dl>
	    </div>
	</div>
</div>
