<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>隐隐的湖光-征婚交友-163k地方门户网站系统</title>
<meta name="keywords" content="征婚交友关键词，关键词，关键关键词" />
<meta name="description" content="认真严肃的同城征婚交友平台，拒绝非结婚目的的交友！" />
<link href="./css/jiaoyou.css" rel="stylesheet" />
<link href="./css/g2013.css" type="text/css" rel="stylesheet" />
<link href="./css/common.css" type="text/css" rel="stylesheet" />
<link href="./css/head.css" type="text/css" rel="stylesheet" />
<script>
window['Default_tplPath'] = 'https://www.mh163k.com/template/pc/main/default/';
window['ckpath']="https://www.mh163k.com/template/pc/main/default/ckplayer";//风格总路径
</script>
<script type="text/javascript" src="https://www.mh163k.com/template/pc/main/default/ckplayer/ckplayer_no.js"></script>
<script type="text/javascript" src="https://www.mh163k.com/template/pc/main/default//js/swfobject2.2.js"></script>
<script src="./js/jquery-1.10.2.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/head.js"></script>
</head>
<body>
<div class="wrapper head8">
<!-- #include file = "./header.html" -->
<div class="content w-1200 clearfix">
	</div>
	<div class="content">
		<div class="w-1200"><div class="site_crumb clearfix"><span>当前位置：</span><a href="https://www.mh163k.com/">首页</a><a href="https://www.mh163k.com/jiaoyou/">征婚交友</a> <span class="cur_tit">隐隐的湖光的主页</span></div></div>
		<div class="w-1200 jiaoyou">
			<div class="mainDiv">
				<div class="mainDTop clearfix">
					<div class="mobile_href"><img src="https://www.mh163k.com/image.aspx?action=urlimg&url=https://www.mh163k.com/jiaoyou/jiaoyou_70.html" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/p/notmobile.gif';this.onerror='';" alt="" />手机访问</div>
					<div class="topImg">
						<img src="..//uploadfile/connections_user/2017/01-15/20170115205827_819900.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/jiaoyou_face_nofind.jpg';this.onerror='';" /><em class="iconB display0"></em>
						<div class="page iconB"><b></b><span>7张</span></div>
					</div>
					<div class="topRight">
						<div class="riDiv clearfix">
							<h2 class="name">隐隐的湖光</h2>
							<ul class="probate">
								<li class="ico display0">实名认证</li>
								<li class="ico1 display0">单身承诺</li>
								<li class="ico2 display0">离婚证明</li>
							</ul>
							<p>总人气：<b>578</b><i class="iconB"></i>近30天：<b>95</b></p>
						</div>
						<ul class="basic_facts clearfix">
							<li>80后</li>
							<li>165cm</li>
							<li>大学专科</li>
						</ul>
						<h3>小太阳一枚，期待跟有趣的他，过好有趣的生活。</h3>
						<ul class="riH3">
							<li><label>感情：</label>单身</li>
							<li><label>性别：</label>女</li>
							<li><label>月薪：</label>3000-4000元</li>
							<li><label>血型：</label>O</li>
							<li><label>籍贯：</label>北京平谷</li>
							<li><label>工作：</label>在校学生</li>
						</ul>
						<p class="time">上次登录：2017-07-19 17:13:34</p>
						<div class="infor">
							<a href="javascript:void(0);" id="report" data-selector="jubao" class="report"><em class="iconB"></em>举报</a>
							<a href="javascript:void(0);" onClick="return addkeep();" class="ico">
								<i class="iconB"></i>
								<em id="keeptxt">加收藏</em>
								<span>已有<font id="keepnum">1</font>人收藏</span>
							</a>
							<a href="javascript:void(0);" class="ico1 giveflower" id="giveflower" data-selector="flower">
								<i class="iconB"></i>
								<em>送花</em>
								<span>已收到<font id="flowernum">6</font>朵</span>
							</a>
							<a href="javascript:void(0);" class="ico2 contact" id="givecontact" data-selector="contact_way">
								<i class="iconB"></i>
								<p>联系Ta</p>
							</a>
							<a href="javascript:void(0);" class="ico3 handshandle" id="handshandle" data-selector="handshandle_way">
								<i class="iconB"></i>
								<p>红娘牵线</p>
							</a>
						</div>
					</div>
				</div>
				<!--内心独白-->
				<div class="mainDMid">
					<h2><i class="iconB"></i><span>内心独白</span><div class="line"></div></h2>
					<p class="mainDMid_wz">小太阳一枚，期待跟有趣的他，过好有趣的生活。
外表萌妹纸，内心应该锻炼成女汉纸了吧。反正内心不是很强大，还是需要另一半能用心呵护。但是也不是玻璃心，懂得珍惜。

不知道这里到底有没有那个人的出现，但是不管什么时候，都想要好好地去爱，然后去经营一份持久的爱情。

不过，还是期待那个他的出现~~~</p>
				</div>
				<!--我的相册-->
				<div class="mainDMid mainDMidA">
					<h2><i class="iconB"></i><span>我的相册</span><div class="line"></div></h2>
					<div class="mainDMid_list clearfix">
						<div class="mainDMid_list_img" id="slide_xc">
							
							<ul class="inner clearfix">
								
					
							</ul>
							<a href="javascript:void(0);" class="btn_prev prev iconB"></a>
							<a href="javascript:void(0);" class="btn_next next iconB"></a>
						</div>
					</div>
					<div class="noisreal">对不起，需要<a href="https://www.mh163k.com/member/login.html?from=https://www.mh163k.com/jiaoyou/jiaoyou_70.html" style="color:#36c;">登录</a>才能查看哦</div>
		
					
					
				</div>
				<!--我的视频-->
				<div class="mainDMid mainDMidA" id="slide_video_parent">
					<h2><i class="iconB"></i><span>我的视频</span><div class="line"></div></h2>
					<div class="mainDMid_list clearfix">
						<div class="mainDMid_list_img slide_video" id="slide_video">
							<ul class="inner clearfix">

							</ul>
							<a href="javascript:void(0);" class="btn_prev prev iconB"></a>
							<a href="javascript:void(0);" class="btn_next next iconB"></a>
						</div>
					</div>
				</div>
				<!--交友资料-->
				<div class="mainDBot">
					<h2><i class="iconB"></i><span>交友资料</span><div class="line"></div></h2>
					<div class="mainDBot_con">
						<dl class="clearfix">
							<dt><em class="ema iconB"></em><span>完善资料</span></dt>
							<dd>
								<p><label>学历：</label><span>大学专科</span></p>
								<p><label>月薪：</label><span>3000-4000元</span></p>
								<p><label>作息习惯：</label><span>早睡早起</span></p>
								<p><label>宠物：</label><span>不喜欢但不反对</span></p>
								<p><label>喝酒：</label><span>偶尔喝酒</span></p>
								<p><label>住房情况：</label><span>已购婚房且无贷款</span></p>
								<p><label>星座：</label><span>巨蟹座</span></p>
								<p><label>吸烟：</label><span>不吸烟</span></p>
								<p><label>购车情况：</label><span>有购车计划</span></p>
								<p><label>血型：</label><span>O</span></p>
								<p><label>从事行业：</label><span>通信/电信</span></p>
								<p><label>兴趣爱好：</label><span>美食 购物 园艺 舞蹈 金融 其他 </span></p>
								<p><label>个性：</label><span>成熟稳重</span></p>
								
							</dd>
						</dl>
						<dl class="clearfix">
							<dt><em class="emb iconB"></em><span>交友要求</span></dt>
							<dd>
								<p><label>年龄：</label><span>90后</span></p>
								<p><label>月薪：</label><span>不限制</span></p>
								<p><label>接受离异：</label><span>不接受</span></p>
								<p><label>学历：</label><span>不限制</span></p>
								<p><label>从事行业：</label><span>不限制</span></p>
								<p><label>身高：</label><span>165 - 不限制</span></p>
								<p><label>居住情况：</label><span>不限制</span></p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<a class="change" id="reload_change" href="#">换一换</a>
			<!--相似会员-->
			<div class="mainBox">
				<h2>相似会员</h2>
				<div class="mainBox_con clearfix">
					<ul id="myDiv">
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_81.html"><img src="..//uploadfile/connections_user/2017/01-15/20170115205918_171000.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>独倚画屏</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_79.html"><img src="..//uploadfile/connections_user/2017/01-15/20170115205908_425200.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>弹钢琴的貓</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_75.html"><img src="..//uploadfile/connections_user/2017/01-15/20170115205852_314600.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>不染凡尘</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_71.html"><img src="..//uploadfile/connections_user/2017/01-15/20170115205833_232900.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>清淡绿茶</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_68.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114164238_134500.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo9</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_67.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114164102_648200.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo8</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_66.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114163940_733100.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo7</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_63.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114155708_387900.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo4</p></a>
						</li>
						
						<li class="item">
						<a href="https://www.mh163k.com/jiaoyou/jiaoyou_62.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114155551_746700.png" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo3</p></a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
<!-- #include file = "./footer.html" -->
</div>
</div>
<div class="flower jubao" id="jubao">
	<form onSubmit="return checkForm3(this);">
	<input type="hidden" name="userid" value="70" />
	<h2><em class="iconB"></em>举报隐隐的湖光<a href="javascript:;" class="closes iconB"></a></h2>
	<p><em class="iconB icon"></em>如遇色情、暴力、赌博、毒品等非法信息，请您发起举报！<em class="iconB icon1"></em></p>
	<h3 class="flower-ml">举报理由：<input type="text" id="content_liyou" placeholder="如：色情低俗 政治类 赌博类 恐爆类 违禁物品 其他" /></h3>
	<div class="clearfix"></div>
	<button type="submit" class="flowersure">确认提交</button>
	</form>
</div>
<div class="flower" id="flower">
	<form onSubmit="return checkForm(this);">
	<input type="hidden" id="counts" name="counts" value="1" />
	<input type="hidden" id="flowerPrice" value="10" />
	<h2><em class="iconB"></em>送花给隐隐的湖光<a href="javascript:;" class="closes iconB"></a></h2>
	<p><em class="iconB icon"></em>送上鲜花，表达您的倾慕之情；送花后，Ta会立即收到提醒哦<em class="iconB icon1"></em></p>
	<div class="imgfl iconB"></div>
	<div class="flower-tp" id="flowerContorl">
		<span>单价：<i>10</i> 金币/朵</span>
		<div class="zjs"><a href="#" class="jian">-</a><em class="num" id="flowerContorl_num">1</em><a href="#" class="jia">+</a></div>
		<span><i id="flowerContorl_total">10</i>金币</span>
	</div>
	<div class="clearfix"></div>
	<h3 class="flower-ml">金币余额：<i id="i_jifennum">0</i>金币<span id="daijinnum_node" style="display:none;">　<i id="daijinnum">0</i>支付币</span><span id="xianjin_node" style="display:none;">　还需支付：<i id="xianjin">0</i>元</span></h3>
	<div class="clearfix"></div>
	<button type="submit" class="flowersure">确认支付，送花给Ta</button>
	</form>
</div>
<div class="flower" id="handshandle_way">
	<form action="connectionsapi.ashx?action=hongniangsave" onSubmit="return hongniangsaveform(this,'70');">
	<input type="hidden" name="userid" value="70" />
	<s class="handshandle_ico"></s>
	<h2><em class="iconB"></em>红娘牵线<a href="javascript:;" class="closes iconB"></a></h2>
	<p class="handshandle_way_inner"><em class="iconB icon"></em>您好，红娘牵线服务是推荐会员的专享服务，<span style="color:#fa7699;">推荐会员在有效期内，每个月可以享有1次免费红娘牵线服务</span>。红娘把您的信息向对方做比较详细的介绍，帮您了解对方的基本情况和意愿，并努力促成您双方的初次约会。如果对方觉得您不合适，不愿意和您联系，红娘会如实反馈。<em class="iconB icon1"></em></p>
	
	<div class="clearfix"></div>
	<button type="submit" class="flowersure display_true_0">请帮我牵线　<span class="in">您还享有 <em>0</em> 次红娘牵线服务</span></button>
	<a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=commend" class="flowersure disabled display0 display_false_0">续费推荐会员，可以获得牵线次数　<span class="on">现在续费</span></a>
	</form>
</div>
<div class="contact_way" id="contact_way">
	
	<h2><em class="iconB"></em>隐隐的湖光的交友联系方式<a href="javascript:;" class="closes iconB"></a></h2>
	<p><em class="iconB icon"></em>获得Ta的交友联系方式(QQ、微信、电话)，直接联系，快速约会 <em class="iconB icon1"></em></p>
	<div id="no_contact">
		<h3 class="flower-ml">支付成功后即可可显示Ta的联系资料<br/>您需要支付：<i id="i_keepmoney">40</i>金币<br/>金币余额：<i id="i_jifennum2">0</i>金币<span id="daijinnum_node2" style="display:none;">　<i id="daijinnum2">0</i>支付币</span><span id="xianjin_node2" style="display:none;">　还需支付：<i id="xianjin2">0</i>元</span></h3>
		<div class="clearfix"></div>
		<form onSubmit="return checkForm2(this);">
		<input type="hidden" id="keepmoney" value="40" />
		<button type="submit" class="flowersure">确认支付</button>
		</form>
	</div>
	<div id="yes_contact" class="way_con" style="display:none;">
		<h4>
			<span><em class="iconB icon1"></em><label>电话：</label><font id="chrtel_contact"></font></span>
			<span><em class="iconB icon2"></em><label>QQ：</label><font id="qq_contact"></font></span>
			<span><em class="iconB icon3"></em><label>微信：</label><font id="weixin_contact"></font></span>
		</h4>
		<img src="https://www.mh163k.com/template/pc/main/default/images/notfind_weixin_erweima.gif" id="weixin_img" onerror="this.src='https://www.mh163k.com/template/pc/main/default/images/notfind_weixin_erweima.gif';this.onerror='';" class="ewm">
	</div>
	<div id="hongniang_contact" class="way_con" style="display:none;">
		<p class="handshandle_way_inner" style="text-align:left; line-height:30px; color:#666;">该会员委托了红娘，请通过申请<span style="color:#fa7699;">红娘牵线服务</span>取得该会员同意后方可获得联系方式！</p>
		<div class="clearfix"></div>
		<button type="button" class="flowersure" id="triggerHongniang">请帮我牵线</button>
	</div>
</div>
<div class="layer" id="fixed_menu">
	<ul>
		<li class="join"><a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=add" class="iconB">我要加入</a></li>
		<li class="homepage"><a href="#" id="myzhuye" class="iconB">我的主页</a></li>
		<li class="data"><a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=main" class="iconB">资料管理</a></li>
		<li class="gotop" id="top"><a href="#" class="iconB">返回顶部</a></li>
	</ul>
</div>
<div class="mask" id="mask" style="display:none;"></div>
<iframe src="about:blank" style="display:none;" id="tijiao" name="tijiao" height="0" width="0" scrolling="no" frameborder="no" border="0"></iframe>
<div class="videoplayer_jiaoyou" style="display:none;" id="videoplayer_jiaoyou"><div id="a1"></div></div>
<div class="videoplayer_mask" style="display:none;" id="videoplayer_mask"></div>
<script type="text/javascript">
window['isLoadedCKPlayer'] = false;

var videoplayer_jiaoyou = $('#videoplayer_jiaoyou');
var videoplayer_mask = $('#videoplayer_mask');

$('#slide_video').on('click','.item',function(e){
	e.preventDefault();
	var url = $(this).attr('data-url');
	if(!window['isLoadedCKPlayer']){
		var params={bgcolor:'#FFF',wmode:'transparent',allowFullScreen:true,allowScriptAccess:'always'};
		var attributes={id:'a1',name:'a1',menu:'false'};
		swfobject.embedSWF(window['ckpath'].replace("..","")+"/ckplayer.swf",'a1','100%','100%','10.0.0',window['ckpath'].replace("..","")+'/expressInstall.swf',{f:url,i:'',c:'0',x:'',p:'1',my_url:encodeURIComponent(window.location.href)},params,attributes);
	}else{
		CKobject.getObjectById('a1').newAddress(url);
	}
	videoplayer_mask.show();
	videoplayer_jiaoyou.show();
});
videoplayer_mask.click(function(){
	CKobject.getObjectById('a1').videoPause();
	CKobject.getObjectById('a1').videoClear();
	videoplayer_mask.hide();
	videoplayer_jiaoyou.hide();
});
</script>
<script src="https://www.mh163k.com/template/pc/main/default/js/highslide-with-gallery.js"></script>
<script src="https://www.mh163k.com/template/pc/main/default/js/jquery.SuperSlide.2.1.1.js?tc=192711"></script>
<script src="https://www.mh163k.com/template/pc/main/default/js/jiaoyouCommon.js?tc=192711"></script>
<script src="https://www.mh163k.com/template/pc/main/default/js/consume_paymoney.js?tc=192711"></script>
<script type="text/javascript">
hs.graphicsDir = 'https://www.mh163k.com/template/pc/main/default/js/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.outlineType = 'rounded-white';
hs.fadeInOut = true;
hs.addSlideshow({
	interval: 5000,
	repeat: false,
	useControls: true,
	fixedControls: 'fit',
	overlayOptions: {
		opacity: 0.75,
		position: 'bottom center',
		hideOnMouseOut: true
	}
});
window['city'] = '北京';
window['SiteUrl'] = 'https://www.mh163k.com/';
window['SiteName'] = '163k地方门户网站系统';
window['jiaoyouurl'] = 'https://www.mh163k.com/jiaoyou/';
window['userid'] = '70';
window['jifenname'] = '金币';
window['jifenshu'] = '10';
window['jifennum'] = '0';
window['ishongniang'] = '0';
window['imgpower'] = '0'; //0需要登录但未登录 1有权查看 2:需要认证交友会员,但未认证
(function($){
	$('#triggerHongniang').click(function(){
		$('#contact_way').find('.closes').trigger('click');
		setTimeout(function(){$('#handshandle').trigger('click');},100);
	});
	$('#myzhuye').click(function(e){
		if($('#isLogin').val() === '0'){
			MSGwindowShow('jiaoyou','0','您还没有登录哦！','','');
			e.preventDefault();
			return false;
		}
	});
	$("#reload_change").click(function(e){
		e.preventDefault();
		getxiangsi();  
	});
	$('#report').dialog();
	$('#giveflower').dialog();
	$('#givecontact').dialog();
	$('#handshandle').dialog();
	$('#flowerContorl').reduce_increase();
	var slide_xc = $('#slide_xc'),slide_xc_list = slide_xc.find('li');
	if(slide_xc_list.length<7){
		slide_xc.find('.iconB').hide();
	}else{
		slide_xc.slide({mainCell:".inner",autoPage:true,effect:"left",autoPlay:true,scroll:1,vis:6});
	}
	showPlayer();
	$('#fixed_menu').rmenuShow2016();
	getPageInfo();
	if($('#LoginUserInfo').val() !== ''){
		getMyzhuyeUrl();
	}
})(jQuery);
</script>
</body>
</html>