<!--header-->
<div class="header">
	<div class="clearfix w-1200">
		<div style="display:none;" id="ind_head_cb"><div class="head_ad w-1200"><div id="adv_forum_home_full"></div></div></div>
		<div class="logo fl">
			<a href="/"><img src="../UploadFile/index/2016/8-22/201608221115223351684.png" alt="163k地方门户网站系统" /></a>
		</div>
		<div class="search fl"><form id="searchform1" name="searchform1" method="post" target="_blank" action="/search.aspx">
			<input type="hidden" id="keyword_c" name="c" value="1" />
			<div class="nav_bbs" id="nav">
				<p class="set">生活信息</p>
				<ul class="keyword_new">
					<li data-val="1">生活信息</li>
					<li data-val="2">店铺商家</li>
					<li data-val="3">新闻资讯</li>
					<li data-val="4">省啦项目</li>
					<li data-val="5">招聘信息</li>
					<li data-val="6">商品信息</li>
					<li data-val="7">视频逛街</li>
					<li data-val="8">便民黄页</li>
					<li data-val="9">贴吧搜索</li>
				</ul>
			</div><input type="text" name="keyword" class="search_text" x-webkit-speech placeholder="请输入关键字" />
			<input type="submit" value="搜索" class="search_sub" />
			</form>
		</div>
		<a href="/live/fabu.html" class="hea_bot">免费发布信息</a>
	</div>
	<div class="navWrap clearfix">
		<div class="nav w-1200" id="channel_nav">
			<ul>
				<li><a href="/" target="_self" class="bold0" style="color:;">首页</a></li><li><a href="/k/" target="_self" class="bold0" style="color:;">外卖</a></li><li><a href="/mall/" target="_self" class="bold0" style="color:;">省啦</a></li><li><a href="/job/" target="_self" class="bold0" style="color:;">招聘</a></li><li><a href="/house/" target="_self" class="bold0" style="color:;">房产</a></li><li><a href="/jiaoyou/" target="_self" class="bold0" style="color:;">征婚</a></li><li><a href="/live/" target="_self" class="bold0" style="color:;">供求</a></li><li><a href="/huodong/" target="_self" class="bold0" style="color:;">活动</a></li><li><a href="/114/" target="_self" class="bold0" style="color:;">黄页</a></li><li><a href="/company/" target="_self" class="bold0" style="color:;">商家</a></li><li><a href="/article/" target="_self" class="bold0" style="color:;">资讯</a></li><li><a href="/tieba/" target="_self" class="bold0" style="color:;">贴吧</a></li>
			</ul>
		</div>
	</div>
</div>