
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>用户注册-163k地方门户网站系统</title>
<meta name="keywords" content="北京地方门户,百姓生活门户,北京地区分类信息" />
<meta name="description" content="本站是163k地方门户网站系统的官方演示站点" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link href="/wap/main/css/member-mb.css" rel="stylesheet" type="text/css">
<link href="/wap/main/css/mb-base.css" rel="stylesheet" type="text/css">
<link href="/wap/main/css/mb-common.css?1" rel="stylesheet" rev="stylesheet" />
<script src="/fds/js/jquery-1.10.2.min.js"></script>
<style type="text/css">
.nofixed { padding-top:0;}
body { background-color:#fff!important;}
#i_tips { padding:0 10px; font-size:14px; color:#aaa; text-align:center;}
#i_tips .yellow { color:#f93;}
.foot_link { display:none!important;}
</style>
<script>
window['ipageTitleTxt'] = '用户注册';
</script>
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
<div class="header">
	<a href="javascript:void(0);" onClick="return window.history.go(-1);" class="back">返回</a>
	<div class="search" id="search_ico" onClick="showNewPage('搜索',searchHtml,newPageSearch);" style="display:none;">搜索</div>
	<a href="" class="my" id="login_ico">我的</a>
	<div class="type" id="nav_ico">导航</div>
	<div class="nav_APP" id="nav_APP"><ul class="clearfix">
	<li><a href="https://www.mh163k.com/">首页<s class="s" style="background-image:url(../UploadFile/index/2017/5-26/201705260909230968494.png);"></s></a></li>
	
	<li><a href="https://www.mh163k.com/k/">外卖<s class="s" style="background-image:url(../UploadFile/index/2017/5-25/201705251751129176595.png);"></s></a></li>
	</ul><span class="arrow-up"></span></div>
</div>
<div class="login_inner" id="login_inner"></div>
<div class="o_main">
<form name="form1" id="form1" method="post" action="">
			<input type="hidden" name="telmust" id="telmust" value="1">
			<input type="hidden" name="ismember" id="ismember" value="2">
			<input type="hidden" id="allok" value="1">
			<input type="hidden" id="styleid" value="1" />
<div class="user_reg">
 <div class="tab_reg" id="tab_reg" style="display:none;">
	<div class="item current" data-id="0"><span class="tit">昵称注册</span></div>
	<div class="item" data-id="2"><span class="tit">手机号注册</span></div>
	<div class="item" data-id="1"><span class="tit">邮箱注册</span></div> 
 </div>
 <ul>
 	<li class="mobile item2" id="loginNamechr"><input type="text" placeholder="设置手机号码作为您的登录名" name="chremail" id="chremail" maxlength="30" onblur="test_email2();" autocomplete="off"></li>
 	<li class="item2 vcode" id="i_code2" style=""><input type="text" name="regcode" id="regcode" maxlength="10" autocomplete="off" placeholder="输入验证码"><input type="hidden" name="codeid" id="codeid" value=""><span class="getIcode" id="requestYZM_node"><span class="btn_1">获取验证码</span><span class="btn_2" style="display:none;"><span id="daojishi">60</span>秒后重新发送</span></span></li>
    <li class="item2 userName" id="loginNamechr"><input type="text" placeholder="昵称/手机/邮箱" name="chremail" id="chremail" maxlength="30" onBlur="test_email2();" autocomplete="off" /></li>
  
    <li class="item2 vcode" id="i_code2" style="display:none;"><input type="text" name="regcode" id="regcode" maxlength="10" autocomplete="off" placeholder="输入验证码" /><input type="hidden" name="codeid" id="codeid" value="" /><span class="getIcode" id="requestYZM_node"><span class="btn_1">获取验证码</span><span class="btn_2" style="display:none;"><span id="daojishi">60</span>秒后重新发送</span></span></li>
  
  
  <div style="display:none;" id="i_tips">验证码已成功发送至您的<span id="i_tips_inner"></span>。</div>
  
  
  <li class="item2 userName" id="i_nichen" style="display:none;"><input type="text" placeholder="昵称(限制3-15字符)" name="chrnichen" id="chrnichen" maxlength="30" onBlur="test_email3();" autocomplete="off" /></li>
  <li class="item2 pw"><input type="password" name="chrpwd" id="chrpwd" maxlength="16" placeholder="密码长度6-16" autocomplete="off" /><div class="open" id="showpwd"></div></li>
  
  <li class="item2 userqq display0"><input type="text" placeholder="QQ号码" name="chrqq" id="chrqq" maxlength="30" autocomplete="off" /><input type="hidden" name="qqmust" id="qqmust" value="0"></li>

 </ul>
 <div class="reg_type clearfix" id="sel_styleid">
  <div class="personal item current" data-val="1">
   <i></i>
   个人
  </div>
  <div class="business item" data-val="2">
   <i></i>
   商家/企业
  </div>
 </div>
</div> 
 <button type="submit" class="reg_btn" id="form_submit_disabled">注 册</button>
 <div class="loadding" id="loadding"><img src="https://www.mh163k.com/template/wap/main/default/images/loadding.gif"></div>
</form>
 <div class="reg_tips">点击"注册"按钮就表示我已同意<a href="javascript:void(0);" onclick="showNewPage('会员注册协议',searchHtml,newPageSearch1);">会员注册协议</a></div>
</div>
<div class="login_nav" style="padding-bottom:15px;">
	<div class="title"><span>快捷登录/注册</span></div>
	<ul>
		<li class="qq" style="display:;"><a href="https://www.mh163k.com/member/qq.aspx?from=https%3a%2f%2fwww.mh163k.com%2f">QQ登录</a></li>
		<li class="wx display1"><a href="https://www.mh163k.com/member/qq.aspx?action=weixin&from=https%3a%2f%2fwww.mh163k.com%2f">微信登录</a></li>
		<li class="reg"><a href="{:url('login/index')}">账号登录</a></li>
	</ul>
</div>
	<div class="foot_link" id="foot_link">
		<ul class="link">
		<li><a href="https://www.mh163k.com/">首页</a></li><!--<li><a href="https://www.mh163k.com/request.ashx?action=iswap&iswap=0">电脑版</a></li>--><li><a href="http://app.163k.com/download.aspx?id=12299" data-img="../UploadFile/index/2015/9-7/201509071154513472674.png">客户端</a></li><li><a href="https://www.mh163k.com/service/">反馈留言</a></li><li class="po_re"><a href="javascript:void(0);" id="shangjiaSelect" data-isShow="0">工作平台</a><div class="po" id="shangjiaSelectPo">
		<p><a href="https://www.mh163k.com/member/userindex_s.aspx">商家平台</a></p>
		<p><a href="https://www.mh163k.com/member/index_qy.aspx">企业平台</a></p>
		<p><a href="https://www.mh163k.com/member/index_zj.aspx">中介平台</a></p>
		<p><a href="https://www.mh163k.com/member/peisong.aspx">配送员</a></p>
	</div></li>
		</ul>
		<!--163k地方门户网站系统：<a href="https://www.mh163k.com/">mh163k.com</a>　皖ICP备11020229号-->Copyright @ 2003-2018 mh163k.com
	</div>
	<p style="display:none;"></p>
</div>
<div class="windowIframe" id="windowIframe" data-loaded="0">
	<div class="header"><a href="javascript:;" class="back close">返回</a><span id="windowIframeTitle"></span></div>
	<div class="body" id="windowIframeBody"></div>
</div>
<div id="l-map" style="display:none;"></div>
<input type="hidden" value="" data-chrname="" data-styleid="" data-chrpic="" data-jifennun="0" data-daijinnum="0" data-isadmin="0" data-isfabukill="0" data-isrepiskill="0" data-isrepsaveiskill="0" id="LoginUserInfo" />
<script>
$(function(){
var if_eye_show = false;
$('#showpwd').click(function(){
	if(!!if_eye_show){
		$(this).removeClass('on');
		$('#chrpwd').attr({'type':'password'});
		if_eye_show = false;
	}else{
		$(this).addClass('on');
		$('#chrpwd').attr({'type':'text'});
		if_eye_show = true;
	}
});
$('.reg_btn').click(function(e){
	e.preventDefault();
});
$('#sel_styleid .item').click(function(){
    var val=$(this).data('val');
    $(this).siblings().removeClass('current');
    $(this).addClass('current');
});
$('#requestYZM_node').click(function(e){
	e.preventDefault();
	$.post('email',function(data){
		console.log(data);
	});
});
})
</script>

</body>
</html>