<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{$ret.nickname}-征婚-163k地方门户网站系统</title>
<meta name="keywords" content="交友栏目关键字,关键字,关键字,关键字,关键字" />
<meta name="description" content="交友栏目描述" />
<link href="/wap/main/css/jiaoyou-mb.css" rel="stylesheet" type="text/css">
<link href="/wap/main/css/jiaoyou-mb-{$ret.tempnum}.css" rel="stylesheet" type="text/css">
<style type="text/css">
.headerblack { background-color:#000!important;}
</style>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-base.css?tc=150759" />
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-common.css" />
<script src="/fds/js/jquery-1.11.3.min.js"></script>
<script src="/static/layer/layer.js"></script>
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
{include file="public/header" /}
<div class="login_inner" id="login_inner"></div>
<div class="o_main" style="padding-bottom:50px;">
	<div class="contain-top">
		<div class="renqi">总人气：<em>1307</em>　近30天：80</div>
		<div class="img_wrap">
		<img class="img" src="/wap/main/images/{$ret.tempnum}/jiaoyou_wap_banner.jpg" />
		</div>
	</div>
	<div class="contain-bottom">
	<div class="tops">
		<div class="topm"><img src="{$ret.headimg}"><p class="display1">推荐会员</p></div>
		<div class="topl" id="giveflower2" data-selector="flower"><i class="icon"></i><span id="flowernum">13</span></div>
		<div class="topr"><a href="javascript:void(0);" onClick="return addkeep();"><i class="icon"></i><span id="keepnum" data-iskeep="0">6</span></a></div>
		<h2>{$ret.nickname}<i class="icon wsc1"></i><!-- <span class="ico1 display1">单</span> <span class="ico2 display0">离</span> --></h2>
		<h3>{$ret.signature}</h3>
		<h4 id="tagList">
			<span class="list">{$ret.place}</span>
			{if condition="isset($improve)"}
			<span class="list">{$improve.sign|signArrCn}</span>
			<span class="list">{if condition="$improve.wages"}{$improve.wages|wagesArrCn}元{else/}未填写{/if}</span>
			{/if}
		</h4>
		<div class="top-link">
		<a href="javascript:void(0);" class="links icon" id="givecontact2" data-selector="contact">联系Ta</a>
		<a href="javascript:void(0);" class="links links2 icon" id="handshandle2" data-selector="handshandle_way">私信消息</a>
		<!-- <a href="javascript:void(0);" class="links links2 icon" id="handshandles2" data-selector="handshandle_way">私信消息</a> -->
	    </div>
		<div class="tb_top_1">
			<ul>
				<li class="li_3"><em>{$ret.emotion|emotionCn}</em>感情</li>
				<li class="li_3"><em>{$ret.stature}cm</em>身高</li>
				<li class="li_3">
					<em>{if condition="isset($improve) and $improve.edu"}{$improve.edu|eduArrCn}{else/}未填写{/if}</em>学历
				</li>
				<li class="li_3"><em>{$ret.yearsitem}</em>年龄</li>
			</ul>
		</div>
	</div>	
	<div class="picsaNode" id="picsaNode">
		{if condition='isset($imgsarr)'}
		<div class="inner" id="layer-photos-demo">
			<ul class="clearfix" id="picsaNodeInner">
				{volist name='imgsarr' id='vo'}
				<li data-id="310"><img src="{$vo}" layer-src="{$vo}"></li>	

				{/volist}
			</ul>
		</div>
		{else/}
		<div class="noisreal" data-num="1">对不起，需要成为<a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=commend" style="color:#36c;">推荐</a>会员才能查看我的相册</div>
		{/if}
	</div> 
	<div class="contain-middle">
		<div class="containr">
			<div class="containr_bd">
			<h2><em class="em1 icon"></em>内心独白</h2>
			<p style="padding-left:24px;">{$ret.content}</p>
			</div>
			{if condition="isset($improve)"}
			<div class="containr_bd">
			<h2><em class="em2 icon"></em>完善资料</h2>
			<p><span>学历：</span>{if condition="$improve.edu"}{$improve.edu|eduArrCn}{else/}未填写{/if}</p>
			<p><span>星座：</span>{$improve.sign|signArrCn}</p>
			<p><span>个性：</span>{$improve.character?$improve.character:'未填写'}</p>
			<p><span>月薪：</span>{if condition="$improve.wages"}{$improve.wages|wagesArrCn}{else/}未填写{/if}</p>
			<p><span>从事行业：</span>{$improve.industry?$improve.industry:'未填写'}</p>
			<p><span>兴趣爱好：</span>{$improve.intrste?$improve.intrste:'未填写'}</p>
			</div>
			{/if}
			{if condition="isset($yaoqiu)"}
			<div class="containr_bd">
			<h2><em class="em3 icon"></em>交友要求</h2>
			<p><span>年龄：</span>{$yaoqiu.yq_age?$yaoqiu.yq_age:'不限制'}</p>
			<p><span>学历：</span>{$yaoqiu.yq_edu|eduArrCn}</p>
			<p><span>月薪：</span>{$yaoqiu.yq_wages|wagesArrCn}</p>
			<p><span>从事行业：</span>{$yaoqiu.yq_industry?$yaoqiu.yq_industry:'不限制'}</p>
			<p><span>接受离异：</span>{if condition="$yaoqiu.yq_divorced ==1"}接受{else/}不接受{/if}</p>
			<p><span>身高：</span>{$yaoqiu.yq_stature_min?$yaoqiu.yq_stature_min:'不限制'} - {$yaoqiu.yq_stature_max?$yaoqiu.yq_stature_max:'不限制'}{if condition="$yaoqiu.yq_stature_max"} cm{/if}</p>
			</div>
			{/if}
		</div>
	</div>
	{if condition='isset($userlist)'}
	<div class="contain-tj">
		<h2><i class="icon"></i><span>相似推荐</span><div class="line"></div></h2>
		<ul class="contain-tjlist clearfix" id="myDiv">
			{volist name="userlist" id='vo'}
			<li class="item">
			<a href="{:url('wap/index/homepage',['id'=>$vo.userid])}"><img src="{$vo.headimg}" alt="" /><p>{$vo.nickname}</p></a>
			</li>
			{/volist}
		</ul>
		<!-- <a href="javascript:void(0);" onClick="return getxiangsi();" style="display:block; text-align:center; margin:15px 0 0; padding:0 0 25px; color:#999;">轻击一下 换一换</a> -->
	</div>
	{/if}
	</div>
	{include file="public/footer" /}
</div>
<div class="windowIframe" id="windowIframe" data-loaded="0">
	<div class="header"><a href="javascript:;" class="back close">返回</a><span id="windowIframeTitle"></span></div>
	<div class="body" id="windowIframeBody"></div>
</div>
</div>
<div class="bottom clearfix">
	<div class="bottoml"><img src="{$ret.headimg}"/><p><em>{$ret.nickname}</em><span>{$ret.sex} {$ret.yearsitem}</span></p><b></b></div>
	<div class="bottomr">
		<a href="javascript:void(0);" class="contents" id="givecontact" data-selector="contact"><i class="icon"></i>联系</a>
		<a href="javascript:void(0);" class="giveflower" id="giveflower" data-selector="flower"><i class="icon"></i>送花</a>
		<a href="javascript:void(0);" onClick="return addkeep();"><i class="icon"></i><span id="keeptxt">收藏</span></a>
		<a href="javascript:void(0);" id="handshandle" data-selector="handshandle_way"><i class="icon"></i>牵线</a>
	</div>
</div>
<script>
//图片放大
layer.photos({
  photos: '#layer-photos-demo'
  ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
});
$(function(){
	$('#handshandle2').click(function(){
		var html='<textarea class="msg_cont" id="content" placeholder="请发送消息..."></textarea>';
		var index =layer.open({
		 	type: 1,
		 	title:'发送私信',
		 	area:['90%','220px'],
		 	btn:['确定','取消'],
            content: html,
            yes:function(){
            	console.log('123');
            	layer.close(index);
            }
		});
	})
})
</script>
</body>
</html>