<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>独倚画屏-征婚-163k地方门户网站系统</title>
<meta name="keywords" content="交友栏目关键字,关键字,关键字,关键字,关键字" />
<meta name="description" content="交友栏目描述" />
<link href="https://www.mh163k.com/template/wap/main/default/skin/jiaoyou-mb.css?tc=150759" rel="stylesheet" type="text/css">
<link href="../template/wap/zhuanti/jiaoyou//images/jiaoyou-mb-1.css?tc=150759" rel="stylesheet" type="text/css">
<style type="text/css">
.headerblack { background-color:#000!important;}
</style>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" rev="stylesheet" href="https://www.mh163k.com/template/wap/main/default/skin/mb-base.css?tc=150759" />
<link rel="stylesheet" rev="stylesheet" href="https://www.mh163k.com/template/wap/main/default/skin/mb-index.css" />
<link rel="stylesheet" rev="stylesheet" href="https://www.mh163k.com/template/wap/main/default/skin/mb-common.css?tc=150759" />
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
<div class="top_gg po_re" id="top_gg" style="display:none;">首页_顶部广告<span class="close po_ab">关闭</span></div>

<div class="login_inner" id="login_inner"></div>
<div class="o_main" style="padding-bottom:50px;">
	<div class="contain-top">
		<div class="renqi">总人气：<em>1307</em>　近30天：80</div>
		<div class="img_wrap">
		<img class="img" src="/wap/main/images/jiaoyou_wap_banner.jpg" />
		</div>
	</div>
	<div class="contain-bottom">
	<div class="tops">
		<div class="topm"><img src="..//uploadfile/connections_user/2017/01-15/20170115205918_171000.png"><p class="display1">推荐会员</p></div>
		<div class="topl" id="giveflower2" data-selector="flower"><i class="icon"></i><span id="flowernum">13</span></div>
		
		<div class="topr"><a href="javascript:void(0);" onClick="return addkeep();"><i class="icon"></i><span id="keepnum" data-iskeep="0">6</span></a></div>
		<h2>独倚画屏<i class="icon wsc1"></i> <span class="ico1 display1">单</span> <span class="ico2 display0">离</span></h2>
		<h3>我在等一个我可以在他身上找出一百个缺点却还是执意要爱的人</h3>
		<h4 id="tagList"><span class="list">北京丰台</span><span class="list">上班一族</span><span class="list">5000-8000元</span></h4>
		<div class="top-link"><a href="javascript:void(0);" class="links icon" id="givecontact2" data-selector="contact">联系Ta</a> <a href="javascript:void(0);" class="links links2 icon" id="handshandle2" data-selector="handshandle_way">红娘牵线</a></div>
		<div class="tb_top_1">
			<ul>
				<li class="li_3"><em>单身</em>感情</li>
				<li class="li_3"><em>164cm</em>身高</li>
				<li class="li_3"><em>大学专科</em>学历</li>
				<li class="li_3"><em>90后</em>年龄</li>
			</ul>
		</div>
	</div>
	
	<div class="picsaNode" id="picsaNode">
		<div class="inner">
			<ul class="clearfix" id="picsaNodeInner">
				
			</ul>
		</div>
		
		
		<div class="noisreal" data-num="1">对不起，需要成为<a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=commend" style="color:#36c;">推荐</a>会员才能查看我的相册</div>
		
	</div>
	<div class="slide_wrapper">
		<div id="slide" class="clearfix" style="display:none">
			<div class="player_h5" id="player_h5" style="display:none; left:0;" data-width="36"><video controls webkit-playsinline playsinline autoplay></video></div>
			<div id="content_player" style="background-color:#000;">
				
			
			</div>
			<ul id="indicator2"></ul>
			<span class="prev" id="slide_prev" style="display:none">上一张</span><span class="next" id="slide_next" style="display:none">下一张</span>
		</div>
	</div>
	
	<div class="contain-middle">
		<div class="containr">
			<div class="containr_bd">
			<h2><em class="em1 icon"></em>内心独白</h2>
			<p style="padding-left:24px;">爱，绝不是缺了就找，更不是累了就换。找一个能一起吃苦的，而不是一起享受的；找一个能一起承担的，而不是一起逃避的；爱不是一个人的事，而是两个人的努力，两个人的奋斗，两个人的共同创造……</p>
			</div>
			<div class="containr_bd">
			<h2><em class="em2 icon"></em>完善资料</h2>
			<p><span>学历：</span>大学专科</p>
			<p><span>宠物：</span>不喜欢但不反对</p>
			<p><span>星座：</span>处女座</p>
			<p><span>血型：</span>O</p>
			<p><span>个性：</span>乐天达观</p>
			<p><span>月薪：</span>5000-8000元</p>
			<p><span>喝酒：</span>偶尔喝酒</p>
			<p><span>吸烟：</span>偶尔吸烟</p>
			<p><span>从事行业：</span>办公用品及设备</p>
			<p><span>作息习惯：</span>偶尔懒散</p>
			<p><span>住房情况：</span>已购婚房但有贷款</p>
			<p><span>购车情况：</span>已经购车</p>
			<p><span>兴趣爱好：</span>音乐 汽车 购物 园艺 其他 </p>
			
			</div>
			<div class="containr_bd">
			<h2><em class="em3 icon"></em>交友要求</h2>
			<p><span>年龄：</span>85后</p>
			<p><span>学历：</span>大学本科</p>
			<p><span>居住情况：</span>不限制</p>
			<p><span>月薪：</span>不限制</p>
			<p><span>从事行业：</span>不限制</p>
			<p><span>接受离异：</span>不接受</p>
			<p><span>身高：</span>不限制 - 不限制</p>
			</div>
		</div>
	</div>
	<div class="contain-tj">
		<h2><i class="icon"></i><span>相似推荐</span><div class="line"></div></h2>
		<ul class="contain-tjlist clearfix" id="myDiv">
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_68.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114164238_134500.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo9</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_66.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114163940_733100.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo7</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_20.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114165237_389700.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>ceshi_14</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_69.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114164414_866800.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo10</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_63.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114155708_387900.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo4</p></a>
			</li>
			
		</ul>
		<a href="javascript:void(0);" onClick="return getxiangsi();" style="display:block; text-align:center; margin:15px 0 0; padding:0 0 25px; color:#999;">轻击一下 换一换</a>
	</div>
	</div>
	<div class="foot_link" id="foot_link">
		<ul class="link">
		<li><a href="https://www.mh163k.com/">首页</a></li><!--<li><a href="https://www.mh163k.com/request.ashx?action=iswap&iswap=0">电脑版</a></li>--><li><a href="https://www.mh163k.com/help/article_13.html">联系我们</a></li><!--<li><a href="http://app.163k.com/download.aspx?id=12299" data-img="../UploadFile/index/2015/9-7/201509071154513472674.png">客户端</a></li>--><li><a href="https://www.mh163k.com/service/">反馈留言</a></li><li class="po_re"><a href="javascript:void(0);" id="shangjiaSelect" data-isShow="0">工作平台</a><div class="po" id="shangjiaSelectPo">
		<p class="display1"><a href="https://www.mh163k.com/member/userindex_s.aspx">商家平台</a></p>
		<p class="display1"><a href="https://www.mh163k.com/member/index_qy.aspx">企业平台</a></p>
		<p class="display1"><a href="https://www.mh163k.com/memberhouse/agentmain">中介平台</a></p>
		<p class="display1"><a href="https://www.mh163k.com/member/peisong.aspx">配送员</a></p>
	</div></li>
		</ul>
		<!--163k地方门户网站系统：<a href="https://www.mh163k.com/">mh163k.com</a>　皖ICP备11020229号-->Copyright @ 2003-2018 mh163k.com
	</div>
	<p style="display:none;"></p>
</div>
<div class="windowIframe" id="windowIframe" data-loaded="0">
	<div class="header"><a href="javascript:;" class="back close">返回</a><span id="windowIframeTitle"></span></div>
	<div class="body" id="windowIframeBody"></div>
</div>
<div id="l-map" style="display:none;"></div>
<input type="hidden" value="7768" data-chrname="花开花落" data-styleid="0" data-chrpic="http://qzapp.qlogo.cn/qzapp/101042022/9248C4C4332FF187DC326AA496B16FBA/30" data-jifennun="0" data-daijinnum="0" data-isadmin="0" data-isfabukill="1" data-isrepiskill="1" data-isrepsaveiskill="0" id="LoginUserInfo" />
<script src="https://www.mh163k.com/template/wap/main/default/js/wap_common.js"></script>
<script>
if(isapp === '1'){
	YDB.SetDragRefresh(0);
}
window['siteUrl'] = 'https://www.mh163k.com/';
$(function(){
	$('#nav_ico').click(function(e){
		e.preventDefault();
		$('#nav_APP').fadeToggle('fast');
	});
	IDC2.footWorker();
	IDC2.getLoginUserInfo('https://www.mh163k.com/','163k地方门户网站系统','200112');
	if(!window['ipageTitle']){
		$('#ipageTitle').show();
	}else{
		$('#ipageTitle').html(window['ipageTitleTxt']).show();
	}
});
</script>
<div class="bottom clearfix">
	<div class="bottoml"><img src="..//uploadfile/connections_user/2017/01-15/20170115205918_171000.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/jiaoyou_face_nofind.jpg';this.onerror='';" /><p><em>独倚画屏</em><span>女 90后</span></p><b></b></div>
	<div class="bottomr">
		<a href="javascript:void(0);" class="contents" id="givecontact" data-selector="contact"><i class="icon"></i>联系</a>
		<a href="javascript:void(0);" class="giveflower" id="giveflower" data-selector="flower"><i class="icon"></i>送花</a>
		<a href="javascript:void(0);" onClick="return addkeep();"><i class="icon"></i><span id="keeptxt">收藏</span></a>
		<a href="javascript:void(0);" id="handshandle" data-selector="handshandle_way"><i class="icon"></i>牵线</a>
		
	</div>
</div>
<iframe src="about:blank" style="display:none;" id="tijiao" name="tijiao" height="0" width="0" scrolling="no" frameborder="no" border="0"></iframe>

<div class="flower" id="flower">
	<form  onSubmit="return checkForm(this);">
	<input type="hidden" id="counts" value="1" />
	<input type="hidden" id="flowerPrice" value="10" />
	<h2><i class="icon"></i>送花给独倚画屏<a href="javascript:;" class="closes"><i class="icon clo"></i></a></h2>
	<p><i class="icon icol"></i>送上鲜花，表达您的倾慕之情；送花后，Ta会立即收到提醒哦 <i class="icon icor"></i></p>
	<img class="imgfl" src="https://www.mh163k.com/template/wap/main/default/images/flowers_ico.png"  />
	<div class="flower-tp" id="flowerContorl">
		<span>单价：<i>10</i> 金币/朵</span>
		<div class="zjs"><a href="#" class="jian disabled">-</a><em class="num" id="flowerContorl_num">1</em><a href="#" class="jia">+</a></div>
		<span><i id="flowerContorl_total">10</i>金币</span>
	</div>
	<div class="clearfix"></div>
	<h3 class="flower-ml">金币余额：<i id="i_jifennum">0</i>金币<span id="daijinnum_node" style="display:none;">　<i id="daijinnum">0</i>支付币</span><span id="xianjin_node" style="display:none;">　还需支付：<i id="xianjin">0</i>元</span></h3>
	<div class="clearfix"></div>
	<div class="flowersure_wrap"><button type="submit" class="flowersure">确认支付，送花给Ta</button></div>
	</form>
</div>
<div class="flower" id="handshandle_way">
	<form action="connectionsapi.ashx?action=hongniangsave" onSubmit="return hongniangsaveform(this,'81');">
	<input type="hidden" name="userid" value="81" />
	<s class="handshandle_ico"></s>
	<h2><i class="icon hn"></i>红娘牵线<a href="javascript:;" class="closes"><i class="icon clo"></i></a></h2>
	<p class="handshandle_way_inner"><i class="icon icol"></i>您好，红娘牵线服务是推荐会员的专享服务，<span style="color:#fa7699;">推荐会员在有效期内，每个月可以享有1次免费红娘牵线服务</span>。红娘把您的信息向对方做比较详细的介绍，帮您了解对方的基本情况和意愿，并努力促成您双方的初次约会。如果对方觉得您不合适，不愿意和您联系，红娘会如实反馈。<i class="icon icor"></i></p>
	<div class="clearfix"></div>
	<div class="flowersure_wrap">
	<button type="submit" class="flowersure display_true_0">请帮我牵线　<span class="in">您还享有 <em>0</em> 次红娘牵线服务</span></button>
	<a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=commend" class="flowersure disabled display0 display_false_0">续费推荐会员，可获得牵线次数　<span class="on">现在续费</span></a>
	</div>
	</form>
</div>
<div class="contact" id="contact">
	<h2><i class="icon"></i>独倚画屏的交友联系方式<a href="javascript:;" class="closes"><i class="icon clo"></i></a></h2>
	<p><i class="icon icol"></i>获得Ta的交友联系方式(QQ、微信、电话)，直接联系，快速约会<i class="icon icor"></i></p>
	<div id="no_contact">
	<h3>支付成功后即可可显示Ta的联系资料<br/>您需要支付：<i id="i_keepmoney">40</i>金币<br/>金币余额：<i id="i_jifennum2">0</i>金币<span id="daijinnum_node2" style="display:none;">　<i id="daijinnum2">0</i>支付币</span><span id="xianjin_node2" style="display:none;">　还需支付：<i id="xianjin2">0</i>元</span></h3>
	<form onSubmit="return checkForm2(this);">
	<input type="hidden" id="keepmoney" value="40" />
	<div class="flowersure_wrap"><button type="submit" class="flowersure">确认支付</button></div>
	</form>
	</div>
	<div id="yes_contact" class="contact-con clearfix" style="display:none;">
		<div class="contactl">
			<span><i class="icon tel"></i><a href="#" id="chrtel_contact"></a></span>
			<span><i class="icon qq"></i><font id="qq_contact"></font></span>
			<span><i class="icon wx"></i><font id="weixin_contact"></font></span>
		</div>
		<div class="contactr"><img src="https://www.mh163k.com/template/wap/main/default/images/notfind_weixin_erweima.gif" id="weixin_img" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/notfind_weixin_erweima.gif';this.onerror='';" class="ewm"></div>
	</div>
	<div id="hongniang_contact" class="way_con" style="display:none;">
		<p class="handshandle_way_inner" style="text-align:left; line-height:30px; color:#666;">该会员委托了红娘，请通过申请<span style="color:#fa7699;">红娘牵线服务</span>取得该会员同意后方可获得联系方式！</p>
		<div class="clearfix"></div>
		<div class="flowersure_wrap"><button type="button" class="flowersure" id="triggerHongniang">请帮我牵线</button></div>
	</div>
</div>
<div class="showBigScroll5" id="showBigScroll5">
	<div class="header headerblack">
		<a href="javascript:void(0);" class="back" style="width:100px; text-align:left; padding-left:15px;">收起相册</a>
	</div>
	<img src="" id="bigPicD" class="bigPic" alt="" />
	<div id="container" class="wrap_scroll5" data-isloaded="0" style="display:none;">
		<div id="content" class="scroller"></div>
		<div id="indicator" class="indicator"><div id="dotty" class="dotty"></div></div>
	</div>
</div>
<div class="mask" id="mask"></div>
<div class="inner_iframe" id="inner_iframe"></div>
<div class="share_fd_po" id="bdsharebuttonbox" style="display:none;">
	<div class="bdsharehd"><span class="tit">分享到</span></div>
<ul class="bdsharebuttonbox">
<li><A class="bds_wxquan" href="javascript:void(0);" onclick="MSGwindowShow('share','0','在微信中点击右上角“...”,或在APP客户端中使用本功能！','','');return false;" id="wx_timeline">朋友圈</A></li>
<li><A class="bds_wxfriend" href="javascript:void(0);" onclick="MSGwindowShow('share','0','在微信中点击右上角“...”,或在APP客户端中使用本功能！','','');return false;" id="wx_message">微信好友</A></li>
<li><A class="bds_qqfriend" href="javascript:void(0);" onclick="MSGwindowShow('share','0','在微信中点击右上角“...”,或在APP客户端中使用本功能！','','');return false;" id="wx_shareQQ">QQ好友</A></li>
<li><A class="bds_tsina" href="http://share.baidu.com/code?qq-pf-to=pcqq.group#" data-cmd="tsina">新浪微博</A></li>
</ul>
<div class="bdshareft"><a href="#" class="cancal">取消</a></div>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='https://www.mh163k.com/template/wap/main/default/js/baiduShare/static/api/js/share.js'];
</script>
	<a href="#" class="close"></a>
</div>
<span class="appShareBtn" id="appShareBtn">分享</span>
<script src="https://www.mh163k.com/template/wap/main/default/js/wap_jiaoyou_zhuye.js?tc=150759"></script>
<script src="https://www.mh163k.com/template/wap/main/default/js/iscroll5/iscroll-probe.js?tc=150759"></script>
<script src="https://www.mh163k.com/template/wap/main/default/js/wap_Dscroll.js?tc=150759"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://www.mh163k.com/template/wap/main/default/js/nativeShare.js"></script>
<script src="https://www.mh163k.com/template/wap/main/default/js/mediaplay_html5.js?tc=150759"></script>
<script src="https://www.mh163k.com/template/wap/main/default/js/jquery.cookie.js?tc=150759"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=0Rg88PISLHEhyvn6syEzlmGT&s=1"></script>
<script type="text/javascript" src="//developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
<script>
window['SiteName'] = '163k地方门户网站系统';
window['SiteUrl'] = 'https://www.mh163k.com/';
window['jiaoyouurl'] = 'https://www.mh163k.com/jiaoyou/';
window['imgpower'] = '3'; //0需要登录但未登录 1有权查看 2:需要认证交友会员,但未认证
window['userid'] = '81';
window['jifennum'] = '0';
window['jifenname'] = '金币';
window['jifenshu'] = '10';
window['Default_tplPath'] = 'https://www.mh163k.com/template/wap/main/default/';
window['ishongniang'] = '1';
var shareImg = '';
var filepath1 = '..//uploadfile/connections_user/2017/01-15/20170115205918_171000.png';
if(filepath1 !== ''){shareImg = nowdomain + filepath1.replace('..//','');}
var shareLink = 'https://www.mh163k.com/jiaoyou/jiaoyou_81.html';
var shareTitle = '独倚画屏-交友栏目首页-163k地方门户网站系统';
var shareContent = '我在等一个我可以在他身上找出一百个缺点却还是执意要爱的人';
var shareconfig = {
	url:shareLink,
	title:shareTitle,
	desc:shareContent,
	img:shareImg,
	img_title:shareTitle,
	from:'163k地方门户网站系统'
};
$('#appShareBtn').share2015();
$('#triggerHongniang').click(function(){
	$('#contact').find('.closes').trigger('click');
	setTimeout(function(){$('#handshandle').trigger('click');},100);
});
$('#tagList').find('.list').each(function(){
	if($(this).html() === ''){
		$(this).hide();
	}
});
$('#picsaNode').picConsole($('#container'));
$('#picsaNode').find('.inner').css({'width':parseInt($('#picsaNode li').length*92)+'px'});
$('#giveflower').dialog();
$('#giveflower2').dialog();
$('#givecontact').dialog();
$('#givecontact2').dialog();
$('#handshandle').dialog();
$('#handshandle2').dialog();
$('#flowerContorl').reduce_increase();
getPageInfo();
showPlayer();
$('.header .back').attr({'href':window['jiaoyouurl'],'onclick':''});
</script>
<!--红包 开始-->
<audio id="player" style="display:none;"></audio>
<script src="https://www.mh163k.com/template/wap/main/default/js/wap_hongbao.js?tc=150759"></script>
<script>
window['tableid'] = 'jiaoyou';
window['cid'] = window['userid'];
window['hbid'] = '0';
(function($){
	if(window['Mh163k_Plugin_Hongbao']==='1' && window['Mh163k_Plugin_Hongbao_isopen'] === '1'){
		setQianghongbao(false,true);
	}
})(jQuery);
</script>
<!--红包 结束-->
</body>
</html>
