<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>独倚画屏-征婚-163k地方门户网站系统</title>
<meta name="keywords" content="交友栏目关键字,关键字,关键字,关键字,关键字" />
<meta name="description" content="交友栏目描述" />
<link href="/wap/main/css/jiaoyou-mb.css" rel="stylesheet" type="text/css">
<link href="/wap/main/css/jiaoyou-mb-8.css" rel="stylesheet" type="text/css">
<style type="text/css">
.headerblack { background-color:#000!important;}
</style>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-base.css?tc=150759" />
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-common.css?tc=150759" />
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
<div class="header">
	<a href="javascript:history.back(-1)" id="header_back" class="back">返回</a>
	<div class="search" id="search_ico" onclick="showNewPage('搜索',searchHtml,newPageSearch);" style="display:none;">搜索</div>
	<a href="{:url('user/index')}" class="my ico_ok" id="login_ico">我的</a>
	<div class="type" id="nav_ico">导航</div>
	<span id="ipageTitle" style="">{$ret.nickname}</span>
</div>
<div class="login_inner" id="login_inner"></div>
<div class="o_main" style="padding-bottom:50px;">
	<div class="contain-top">
		<div class="renqi">总人气：<em>1307</em>　近30天：80</div>
		<div class="img_wrap">
		<img class="img" src="/wap/main/images/8/jiaoyou_wap_banner.jpg" />
		</div>
	</div>
	<div class="contain-bottom">
	<div class="tops">
		<div class="topm"><img src="{$ret.headimg}"><p class="display1">推荐会员</p></div>
		<div class="topl" id="giveflower2" data-selector="flower"><i class="icon"></i><span id="flowernum">13</span></div>
		
		<div class="topr"><a href="javascript:void(0);" onClick="return addkeep();"><i class="icon"></i><span id="keepnum" data-iskeep="0">6</span></a></div>
		<h2>{$ret.nickname}<i class="icon wsc1"></i><span class="ico1 display1">单</span> <span class="ico2 display0">离</span></h2>
		<h3>{$ret.signature}</h3>
		<h4 id="tagList"><span class="list">{$ret.place}</span><span class="list">{$improve.sign|signArrCn}</span><span class="list">{if condition="$improve.wages"}{$improve.wages|wagesArrCn}元{else/}未填写{/if}</span></h4>
		<div class="top-link"><a href="javascript:void(0);" class="links icon" id="givecontact2" data-selector="contact">联系Ta</a> <a href="javascript:void(0);" class="links links2 icon" id="handshandle2" data-selector="handshandle_way">红娘牵线</a></div>
		<div class="tb_top_1">
			<ul>
				<li class="li_3"><em>单身</em>感情</li>
				<li class="li_3"><em>{$ret.stature}cm</em>身高</li>
				<li class="li_3">
					<em>{if condition="$improve.edu"}{$improve.edu|eduArrCn}{else/}未填写{/if}</em>学历
				</li>
				<li class="li_3"><em>{$ret.age}</em>年龄</li>
			</ul>
		</div>
	</div>
	
	<div class="picsaNode" id="picsaNode">
		<div class="inner">
			<ul class="clearfix" id="picsaNodeInner">
				
			</ul>
		</div>
		
		
		<div class="noisreal" data-num="1">对不起，需要成为<a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=commend" style="color:#36c;">推荐</a>会员才能查看我的相册</div>
		
	</div>
	<!-- <div class="slide_wrapper">
		<div id="slide" class="clearfix" style="display:none">
			<div class="player_h5" id="player_h5" style="display:none; left:0;" data-width="36"><video controls webkit-playsinline playsinline autoplay></video></div>
			<div id="content_player" style="background-color:#000;">
				
			
			</div>
			<ul id="indicator2"></ul>
			<span class="prev" id="slide_prev" style="display:none">上一张</span><span class="next" id="slide_next" style="display:none">下一张</span>
		</div>
	</div> -->
	
	<div class="contain-middle">
		<div class="containr">
			<div class="containr_bd">
			<h2><em class="em1 icon"></em>内心独白</h2>
			<p style="padding-left:24px;">{$ret.content}</p>
			</div>
			<div class="containr_bd">
			<h2><em class="em2 icon"></em>完善资料</h2>
			<p><span>学历：</span>{if condition="$improve.edu"}{$improve.edu|eduArrCn}{else/}未填写{/if}</p>
			<p><span>星座：</span>{$improve.sign|signArrCn}</p>
			<p><span>个性：</span>{$improve.character?$improve.character:'未填写'}</p>
			<p><span>月薪：</span>{if condition="$improve.wages"}{$improve.wages|wagesArrCn}{else/}未填写{/if}</p>
			<p><span>从事行业：</span>{$improve.industry?$improve.industry:'未填写'}</p>
			<p><span>兴趣爱好：</span>{$improve.intrste?$improve.intrste:'未填写'}</p>
			
			</div>
			<div class="containr_bd">
			<h2><em class="em3 icon"></em>交友要求</h2>
			<p><span>年龄：</span>{$yaoqiu.yq_age?$yaoqiu.yq_age:'不限制'}</p>
			<p><span>学历：</span>{$yaoqiu.yq_edu|eduArrCn}</p>
			<p><span>月薪：</span>{$yaoqiu.yq_wages|wagesArrCn}</p>
			<p><span>从事行业：</span>{$yaoqiu.yq_industry?$yaoqiu.yq_industry:'不限制'}</p>
			<p><span>接受离异：</span>{if condition="$yaoqiu.yq_divorced ==1"}接受{else/}不接受{/if}</p>
			<p><span>身高：</span>{$yaoqiu.yq_stature?$yaoqiu.yq_stature:'不限制'}</p>
			</div>
		</div>
	</div>
	<div class="contain-tj">
		<h2><i class="icon"></i><span>相似推荐</span><div class="line"></div></h2>
		<ul class="contain-tjlist clearfix" id="myDiv">
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_68.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114164238_134500.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo9</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_66.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114163940_733100.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo7</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_20.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114165237_389700.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>ceshi_14</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_69.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114164414_866800.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo10</p></a>
			</li>
			
			<li class="item">
			<a href="https://www.mh163k.com/jiaoyou/jiaoyou_63.html"><img src="..//uploadfile/connections_user/2017/01-14/20170114155708_387900.png" onerror="this.src='https://www.mh163k.com/template/wap/main/default/images/defalut_face.gif';this.onerror='';" alt="" /><p>x4demo4</p></a>
			</li>
			
		</ul>
		<a href="javascript:void(0);" onClick="return getxiangsi();" style="display:block; text-align:center; margin:15px 0 0; padding:0 0 25px; color:#999;">轻击一下 换一换</a>
	</div>
	</div>
	<div class="foot_link" id="foot_link">
		<ul class="link">
		<li><a href="https://www.mh163k.com/">首页</a></li><!--<li><a href="https://www.mh163k.com/request.ashx?action=iswap&iswap=0">电脑版</a></li>--><li><a href="https://www.mh163k.com/help/article_13.html">联系我们</a></li><!--<li><a href="http://app.163k.com/download.aspx?id=12299" data-img="../UploadFile/index/2015/9-7/201509071154513472674.png">客户端</a></li>--><li><a href="https://www.mh163k.com/service/">反馈留言</a></li><li class="po_re"><a href="javascript:void(0);" id="shangjiaSelect" data-isShow="0">工作平台</a><div class="po" id="shangjiaSelectPo">
	</div></li>
		</ul>
		<!--163k地方门户网站系统：<a href="https://www.mh163k.com/">mh163k.com</a>　皖ICP备11020229号-->Copyright @ 2003-2018 mh163k.com
	</div>
	<p style="display:none;"></p>
</div>
<div class="windowIframe" id="windowIframe" data-loaded="0">
	<div class="header"><a href="javascript:;" class="back close">返回</a><span id="windowIframeTitle"></span></div>
	<div class="body" id="windowIframeBody"></div>
</div>
<div id="l-map" style="display:none;"></div>
</div>
<input type="hidden" value="7768" data-chrname="花开花落" data-styleid="0" data-chrpic="http://qzapp.qlogo.cn/qzapp/101042022/9248C4C4332FF187DC326AA496B16FBA/30" data-jifennun="0" data-daijinnum="0" data-isadmin="0" data-isfabukill="1" data-isrepiskill="1" data-isrepsaveiskill="0" id="LoginUserInfo" />
<div class="bottom clearfix">
	<div class="bottoml"><img src=""/><p><em>独倚画屏</em><span>女 90后</span></p><b></b></div>
	<div class="bottomr">
		<a href="javascript:void(0);" class="contents" id="givecontact" data-selector="contact"><i class="icon"></i>联系</a>
		<a href="javascript:void(0);" class="giveflower" id="giveflower" data-selector="flower"><i class="icon"></i>送花</a>
		<a href="javascript:void(0);" onClick="return addkeep();"><i class="icon"></i><span id="keeptxt">收藏</span></a>
		<a href="javascript:void(0);" id="handshandle" data-selector="handshandle_way"><i class="icon"></i>牵线</a>
		
	</div>
</div>
</body>
</html>
