<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>网上征婚交友服务协议-163k地方门户网站系统</title>
<script>
window['ipageTitleTxt'] = '服务协议';
</script>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-base.css?tc=150759" />
<link rel="stylesheet" href="/wap/main/css/mb-index.css">
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-common.css?tc=150759" />
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
<div class="header">
	<a href="javascript:history.back(-1)" id="header_back" class="back">返回</a>
	<div class="search" id="search_ico" onclick="showNewPage('搜索',searchHtml,newPageSearch);" style="display:none;">搜索</div>
	{if condition="$Think.session.nickname neq null"}
	<a href="{:url('user/index')}" class="my ico_ok" id="login_ico">我的</a>
	{else/}
	<a href="{:url('login/index')}" class="my" id="login_ico">我的</a>
	{/if}
	<div class="type" id="nav_ico">导航</div>
	<span id="ipageTitle" style="">服务协议</span>
</div>
<div class="login_inner" id="login_inner"></div>
	<div class="content" style="text-align:justify;">
		<div style="text-align:center;height:50px;line-height:50px;border-bottom: #E5E5E5 1px solid;"><span style="font-size:16px;font-weight:bold;color:#333; font-family:'微软雅黑'">《网上征婚交友服务协议》</span></div>
		<div style="padding:15px; font-size:16px;"><p class="MsoNormal" style="white-space:normal;">
	在此特别提醒，用户欲访问和使用微交友，接受微交友提供的服务，必须事先认真阅读本协议中各条款。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1</span>、协议的接受与签署<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>本网站网（以下简称“本网站”）将依据本协议为您提供交友服务。微交友协议具有合同效力，对于您和本网站均具有约束力。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>您在使用微交友服务之前，应当认真阅读微交友协议。如您不同意本协议及<span lang="EN-US">/</span>或随时对其的修改和更新，请您立即停止使用本网站所提供的交友服务。一旦您在微交友注册页面上点击或勾选“我确认我同意 微交友协议”相关内容后，或者以其他本网站允许的方式实际使用微交友服务的，这就表示您已经阅读并且同意接受微交友协议。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">3)&nbsp;</span>您使用微交友服务时应同时遵守本网站使用协议的规定。微交友协议是本网站使用协议的有效组成部分，本协议未涉及的事项，依照本网站使用协议的相关规定处理。此外，您还应遵守本网站随时公布的与交友服务相关的指引和规则，相关的指引和规则，均构成微交友协议的一部分。 一旦会员在注册页面点击或勾选“阅读并同意接受注册条款”相关内容后，这就表示会员已经阅读并且同意与微交友网站达成协议，并接受所有的注册条款。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2</span>、服务说明<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>微交友旨在通过互联网扩展本网站用户的交友渠道，为用户建立一个安全、友好、合法、规范的交友环境。微交友为您提供的是免费网络交友服务，但本网站保留未来可能收取相关服务费用的权利。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>如果您已经是本网站的用户，您可以在登录后直接进入微交友页面填充个人资料；如果您原本不是本网站的用户，您可以在点击进入微交友页面后进行注册，注册完成后您将获得一个账户名和密码，即可以本网站用户的身份接受微交友服务。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">3)&nbsp;</span>微交友并非单一的婚恋网络服务，交友并不仅限于以恋爱和婚姻为目的，还包括兴趣交友、技能交换、同乡会等交友方式。当您接受找男友<span lang="EN-US">/</span>找女友或者征婚服务时您应确保您是单身状态，包括未婚、离异或是丧偶，且要以恋爱或者婚姻为目的，不得违反《婚姻法》的强制性规定及社会的公序良俗。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">4)</span>用户同意并理解在使用《微交友》服务过程中，一旦用户使用钱款购买道具金币，此交用户同意并理解在使用《微交友》服务过程中，一旦用户使用钱款购买道具金币，此交易行为便生效无论用户金币是否消耗完毕，购币钱款皆不予退还。易行为便生效，无论用户金币是否消耗完毕，购币钱款皆不予退还。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">3</span>、用户使用规则<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>用户在申请使用微交友服务时，必须符合已经年满十八周岁的条件，能够对自己的行为有正确的理解和认识，并对自己的行为承担全部责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>为保证用户权益，在微交友注册用户需是本人征友行为，不接受代为征友或征婚的注册。用户保证将提供真实、详尽、准确的个人资料，在上述资料发生任何变动时，必须及时更新。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">3)&nbsp;</span>注册成功后，用户有义务保证密码及账户的安全，不应将其账户、密码转让或出借给他人使用，并对以其账户进行的所有活动和事件负法律责任。用户的密码或账户遭到未获授权的使用，或者发生其它任何安全问题时，用户应立即通知本网站。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">4)&nbsp;</span>用户承诺对其发布的内容承担责任，在使用微交友服务过程中会遵循以下原则：<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	（<span lang="EN-US">1</span>）遵守中国有关的政策、法律和法规； （<span lang="EN-US">2</span>）遵守所有与网络服务有关的网络协议、规定和程序； （<span lang="EN-US">3</span>）不得为任何非法目的而使用网络服务系统； （<span lang="EN-US">4</span>）不得上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料或网络链接； （<span lang="EN-US">5</span>）不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益； （<span lang="EN-US">6</span>）不得利用本网站网络服务系统进行任何不利于本网站的行为。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">4</span>、服务的变更、中断和终止<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>本网站可以根据国家法律、法规、政策的变化，产品或服务的发展等因素对本协议进行随时的修改和更新。用户有义务不时关注并阅读最新版的协议，修改后的交友协议一旦在网页上公布即视为您已完全知悉，无需其他形式的另行通知即可有效代替原来的协议。如用户不同意更新后的协议，可以且应立即停止接受本网站依据本协议提供的服务；如用户继续使用本网站提供的服务的，即视为同意更新后的协议。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>本网站有权出于操作平台、软件、网站服务器、数据库系统维护或升级的需要而暂停提供相关服务，出现此种情况时本网站将会及时在网站首页通知广大用户。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">3)&nbsp;</span>如发生下列任何一种情形，本网站有权无需事先通知随时中断或终止向用户提供服务，因此给用户或第三方造成损失的，本网站无需承担任何责任：<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	（<span lang="EN-US">1</span>）用户提供的个人资料不真实； （<span lang="EN-US">2</span>）用户违反本协议规定的使用规则； （<span lang="EN-US">3</span>）本网站有理由认为用户在使用微交友服务过程中的任何言论或其它行为有害于本网站安全、友好环境建立的。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">5</span>、免责声明<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>用户有妥善保管个人账户和密码的义务，如因用户未能履行该义务而将本网站个人账户密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露或其他损失，本网站对此不承担任何责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>对于用户上传的照片、资料、信息、传送的内容，本网站会尽合理努力按照国家有关规定严格审查。但用户应理解本网站的审核程序无法完全控制经由网站服务传送的内容，因此本网站不对上述资料和内容的真实性、准确性、完整性、可靠性等做任何保证。在任何情况下，本网站均不为用户经由网站服务张贴、发布、传送的任何内容负责。本网站认为用户的行为违反国家法律法规或本协议时，有权采取相应行动，包括但不限于删除用户发布的内容，暂停或终止用户使用网站服务的全部或部分内容，保存有关记录，在必要时向有关机关报告并配合有关机关的行动。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">3)&nbsp;</span>鉴于交友活动的特殊性，用户应以自己的独立判断谨慎从事与交友相关的行为。用户保证自己使用本网站的服务与其他第三方进行任何形式的通讯或往来及达成任何协议、保证或声明，完全为用户自主判断、自愿选择的行为，用户应当对上述行为承担全部责任。用户因此而遭受的任何性质的损失或损害，本网站不负任何法律责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">4)&nbsp;</span>用户可以使用微交友服务自发成立线下交友组织、发起线下健康、合法的交友活动。用户自行发起的该类组织和活动与本网站没有任何关系，参与的用户应对自己的行为承担全部后果和责任，本网站对此不承担任何责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">5)&nbsp;</span>本网站不保证交友频道界面上提供的各种外部链接指向内容的正确性、合法性或可靠性。外部链接指向的网页内容不由本网站实际控制，当用户点击进入外部链接网站的，应当遵守该网站的规则和协议，由此而导致的任何法律争议和后果本网站不承担责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">6)&nbsp;</span>用户理解互联网是一个开放的环境，您上传的照片或其他资料有可能遭到其他组织或个人的复制、转载、擅改或其他非法使用。用户必须充分知悉此类风险的存在，本网站对此不承担任何责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">7)&nbsp;</span>本网站不对因国家政策或法规变化、自然灾害、战争、黑客袭击、电脑病毒、网络故障、电信部门技术调整、政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可抗力事件，以及他人蓄意破坏、正常的系统维护、系统升级，或者因网络拥塞而导致信息及数据提供的延误、停滞或错误，以及使用者由此受到的一切损失承担任何责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">6</span>、隐私保护<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	尊重并保护用户个人隐私是本网站的一项基本原则，您的个人资料的使用将受到中国有关隐私的法律和微交友《隐私声明》之规范，《隐私声明》构成本协议的有效组成部分。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">7</span>、权利声明<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>微交友上所刊登的资料信息（包括但不限于文字、图表、商标、标识、按钮图标、图像、声音或影像资料、软件等），均是本网站或其内容提供者的财产，受中国和国际知识产权法律的保护。除法律另有强制性规定外，未经本网站明确的特别书面许可<span lang="EN-US">,</span>任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容。否则，本网站有权追究其法律责任。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>本网站不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响本网站在将来行使该权利。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">8</span>、赔偿<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">1)&nbsp;</span>如果用户使用微交友服务进行的任何行为，违反有关法律、法规或违反本交友协议或侵害他人任何权利而导致任何第三人对本网站提出任何索赔或请求，用户应当赔偿本网站或其他合作伙伴因此而遭受的损失，包括但不限于律师费和合理的调查费用等。<span lang="EN-US"><o:p></o:p></span>
</p>
<p class="MsoNormal" style="white-space:normal;">
	<span lang="EN-US">2)&nbsp;</span>用户在投诉其他用户有违法行为或违反本协议情形时，投诉者应承担不实投诉所产生的全部法律责任。如侵犯他人的合法权益，投诉人应独立承担全部法律责任。如给本网站造成损失的，投诉人应对本网站履行相应的赔偿责任
</p></div>
	</div>
	<div class="foot_link" id="foot_link">
		<ul class="link">
		<li><a href="https://www.mh163k.com/">首页</a></li><li><a href="https://www.mh163k.com/help/article_13.html">联系我们</a></li><li><a href="https://www.mh163k.com/service/">反馈留言</a></li><li class="po_re"><a href="javascript:void(0);" id="shangjiaSelect" data-isShow="0">工作平台</a></li>
		</ul>
		Copyright @ 2003-2018 mh163k.com
	</div>
</div>
</body>
</html>
