<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>独倚画屏-征婚-163k地方门户网站系统</title>
<meta name="keywords" content="交友栏目关键字,关键字,关键字,关键字,关键字" />
<meta name="description" content="交友栏目描述" />
<link href="/wap/main/css/jiaoyou-mb.css" rel="stylesheet" type="text/css">
<style type="text/css">
.headerblack { background-color:#000!important;}
</style>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-base.css?tc=150759" />
<link rel="stylesheet" href="/wap/main/css/member-mb.css">
<link rel="stylesheet" rev="stylesheet" href="/wap/main/css/mb-common.css?tc=150759" />
<script src="/fds/js/jquery-1.11.3.min.js"></script>
<script src="/static/layui/layui.js"></script>
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
{include file="public/header" /}
<div class="inp_Itembox">
    <div style="padding:10px; text-align:center; color:#f93; background-color:#fff8f2;">图片</div>
    <div class="my_prop_img">
		<div id="J_imageView" class="my_prop_imgitem_node clearfix" style="margin-right:0;">
			<div class="upimgFileBtnNode"><div id="pageLoaderNode"><span id="pageLoader">loadding</span></div><img src="/wap/main/images/upimg.png" id="upimgFileBtn" class="upimgFileBtn imgview" alt="" style="height: 89px;"></div>
			<input type="hidden" name="imgs" class="layui-input" value="{$showimgs?$showimgs:''}">
			<input type="hidden" name="isimgs" class="layui-input" value="{$showimgs?$showimgs:''}">
			{if condition="isset($showimgs)"}
			{volist name="imgsarr" id="vo"}
			<div class="my_prop_imgitem"><div class="imgviewNode"><img src="{$vo}" class="imgview" style="height: 89px;"></div><a href="javascript:;" class="del">删除</a></div>
			{/volist}
			{/if}
		</div>
    </div>
</div>
<div class="reg_tips" style="margin-bottom:15px;">点击"提交"就表示我已同意<a href="{:url('index/xieyi')}">网上征婚交友服务协议</a></div>
<button type="submit" id="submit" class="save">保 存</button>
</div>
{include file="public/footer" /}
<script type="text/javascript">
	layui.use('upload',function(){
		var $ = layui.jquery
		,arr =new Array()
        ,upload = layui.upload;
        upload.render({
		    elem: '#upimgFileBtn'
		    ,url: "{:url('upload/upimgs')}"
		    ,multiple: true
		    ,before: function(obj){
		      //预读本地文件示例，不支持ie8
		      obj.preview(function(index, file, result){	     	  
		        $('#J_imageView').append('<div class="my_prop_imgitem"><div class="imgviewNode"><img src="'+ result +'" class="imgview" style="height: 89px;" alt="'+ file.name +'"></div><a href="javascript:;" class="del">删除</a></div>')
		      });
		    }
		    ,done: function(res){
		      arr.push(res.url);
		      str = arr.join(',');
		      $imgs=$('input[name=isimgs]').val();
		      if($imgs.length !== 0){
		      	$imgurl=$imgs+','+str;
		      }else{
		      	$imgurl=str;
		      }
		      $('input[name=imgs]').val($imgurl);
			}
        });
        $('#submit').click(function(e){
	    	e.preventDefault();
	    	var imgs=$('input[name=imgs]').val();
	    	$.ajax({
	    		url:"{:url('user/imglist')}",
	    		data:{imgs:imgs},
	    		type:'post',
	    		success:function(data){
	    			if(data.code ==1){
	    				layer.msg(data.msg,{icon: 1,anim: 6, time: 2000},function(){
	    					location.reload();
	    				});
	    			}else{
	    				layer.msg(data.msg,{icon: 2,anim: 6, time: 2000});
	    			}
	    		},
	    		error:function(){
	    			layer.msg('error');
	    		}
	    	})
	    })
		$(document).on('click',".del",function(e){
			e.preventDefault();
			var index = $(".del").index(this)
			,tag=","
			,imgs=$('input[name=imgs]').val();
			arrList = imgs.split(",");
			$url=arrList[index];
			arrList.splice(index,1);
			var delimg=arrList.join(',');
			$.post("{:url('user/unsetimg')}",{urls:$url},function(data){
				if(data.code ==1){
    				layer.msg(data.msg,{icon: 1,anim: 6, time: 2000});
    			}else{
    				layer.msg(data.msg,{icon: 2,anim: 6, time: 2000});
    			}	
			});
		    $("input[name=imgs]").val(delimg);
		    $(this).parent('.my_prop_imgitem').remove();
		})
	})
    
</script>
</body>
</html>