<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>开始使用Layui</title>
  <link href="/wap/main/css/mb-base.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/wap/main/css/member-index-mb.css">
  <link rel="stylesheet" href="/wap/main/css/mb-common.css">
  <script src="/fds/js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<div id="pageMain" class="page_srcoll page-current">
	{include file="public/header" /}
	<div class="wrapper" style="background: #eee">
		<div class="member_head member_head_2">
		  <div class="user_head"><a href="/member/modify.aspx?action=tou" class="face"><img src="{$obj.headimg}" alt="" width="96" height="96"></a><s class="s"></s></div>
		  <div class="userName" id="userName">{$obj.nickname}</div>
		  <a href="{:url('user/addinfo')}" class="txt">修改资料</a><s class="s_bor"></s><a href="{:url('user/safe')}" class="txt">安全设置</a>
		  <a href="javascript:void(0);" class="real real_0_0">未认证<s class="s"></s></a>
		 </div>
		{if condition='!isset($ret)'}
		<div class="amount_addjiaoyou">
		  <a href="{:url('user/addinfo')}"><s class="ico"></s><span class="txt">您还未加入交友哦！<em>现在加入</em>！</span></a><s class="s"></s>
		</div>
		{else/}
		<div class="amount_addjiaoyou">
		   <a href="{:url('wap/index/homepage',['id'=>$obj.userid])}"><s class="ico"></s><span class="txt">您已加入交友哦！<em style="position: absolute;right: 38px;">我的主页</em></span></a><s class="s"></s>
		</div>
		{/if}
		<div id="memberNav">
		   <ul class="memberNav">
		   <li class="jy_ico_01"><a href="{:url('user/addinfo')}">基本信息</a></li>
		   <li class="jy_ico_02"><a href="{:url('user/addinfo?#info=detail')}">完善资料</a></li>
		   <li class="jy_ico_03"><a href="{:url('user/addinfo?#info=yaoqiu')}">交友要求</a></li>
		   <li class="jy_ico_04"><a href="{:url('user/imglist')}">我的相册</a></li>
		   <li class="jy_ico_05"><a href="{:url('user/real')}">实名认证</a></li>
		   <li class="jy_ico_06"><a href="{:url('user/commend')}">我要推荐</a></li>
		   <!-- <li class="jy_ico_07"><a href="{:url('user/slctfriend')}">智能匹配</a></li> -->
		   <li class="jy_ico_15"><a href="{:url('user/hongniang')}">红娘牵线</a></li>
		   <li class="jy_ico_10"><a href="{:url('user/message')}">私信消息
		   	{if condition="isset($msg)"}
		   	<span class="tips"></span>
		   	{/if}
		   </a></li>
		   </ul>
		   <!-- <ul class="memberNav">
		   <li class="jy_ico_08"><a href="connections.aspx?action=selectbrowselist&amp;type=0">我看过谁</a></li>
		   <li class="jy_ico_09"><a href="connections.aspx?action=selectkeeplist&amp;type=0">我的收藏</a></li>
		   <li class="jy_ico_10"><a href="connections.aspx?action=selectbuylist&amp;type=0">我联系过</a></li>
		   <li class="jy_ico_11"><a href="connections.aspx?action=selectbrowselist&amp;type=1">谁看过我</a></li>
		   <li class="jy_ico_12"><a href="connections.aspx?action=selectkeeplist&amp;type=1">谁收藏我</a></li>
		   <li class="jy_ico_13"><a href="connections.aspx?action=selectbuylist&amp;type=1">谁联系我</a></li>
		   <li class="jy_ico_14"><a href="connections.aspx?action=flowerlist&amp;type=1">收到鲜花</a></li>
		   		  </ul> -->
		  </div>
		  <div class="member_exit">
		  	<a href="{:url('user/logout')}"><button type="button" class="exit">安全退出</button></a>
		  </div>
		  {include file="public/footer" /}
    </div>
    </div>	
</body>
</html>