<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>开始使用Layui</title>
  <link href="/wap/main/css/mb-base.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/wap/main/css/member-index-mb.css">
  <link rel="stylesheet" href="/wap/main/css/mb-common.css">
</head>
<body>
	<div class="header">
	<a href="https://www.mh163k.com/" id="header_back" class="back" onclick="">返回</a>
	<div class="search" id="search_ico" onclick="showNewPage('搜索',searchHtml,newPageSearch);" style="display:none;">搜索</div>
	<a href="https://www.mh163k.com/member/" class="my ico_ok" id="login_ico">我的</a>
	<div class="type" id="nav_ico">导航</div>
	<span id="ipageTitle" style="">交友</span>
	<div class="nav_APP" id="nav_APP"><ul class="clearfix" id="nav_APP_data2">
	
	<li><a href="https://www.mh163k.com/">首页<s class="s" style="background-image:url(../UploadFile/index/2017/5-26/201705260909230968494.png);"></s></a></li>
	
	
	<li><a href="https://www.mh163k.com/house/">房产<s class="s" style="background-image:url(../UploadFile/index/2017/5-25/201705251752116927044.png);"></s></a></li>
	
	<li><a href="https://www.mh163k.com/jiaoyou/">征婚<s class="s" style="background-image:url(../UploadFile/index/2017/5-25/201705251752208846919.png);"></s></a></li>
	
	<li><a href="/gift/">积分<s class="s" style="background-image:url(../UploadFile/index/2017/5-25/201705251753447776716.png);"></s></a></li>
	
	
	</ul><span class="arrow-up"></span></div>
</div>
	
	<div class="wrapper" style="background: #eee">
		<div class="member_head member_head_2">
		  <div class="user_head"><a href="https://www.mh163k.com/member/modify.aspx?action=tou" class="face"><img src="/wap/main/images/jiaoyou_face_nofind.jpg" alt="" width="96" height="96"></a><s class="s"></s></div>
		  <div class="userName" id="userName">花开花落</div>
		  <a href="" class="txt">修改资料</a><s class="s_bor"></s><a href="" class="txt">修改密码</a>
		  <a href="javascript:void(0);" class="real real_0_0">未认证<s class="s"></s></a>
		 </div>
		<div class="amount_addjiaoyou">
		  <a href="?action=add"><s class="ico"></s><span class="txt">您还未加入交友哦！<em>现在加入</em>！</span></a><s class="s"></s>
		 </div>
		<div id="memberNav">
		   <ul class="memberNav">
		   <li class="jy_ico_01"><a href="{:url('user/addinfo')}">基本信息</a></li>
		   <li class="jy_ico_02"><a href="{:url('user/detail')}">完善资料</a></li>
		   <li class="jy_ico_03"><a href="{:url('user/yaoqiu')}">交友要求</a></li>
		   <li class="jy_ico_04"><a href="{:url('user/imglist')}">我的相册</a></li>
		   <li class="jy_ico_05"><a href="{:url('user/real')}">实名认证</a></li>
		   <li class="jy_ico_06"><a href="{:url('user/commend')}">我要推荐</a></li>
		   <li class="jy_ico_07"><a href="{:url('user/slctfriend')}">智能匹配</a></li>
		   <li class="jy_ico_15"><a href="{:url('user/hongniang')}">红娘牵线</a></li>
		   </ul>
		   <!-- <ul class="memberNav">
		   <li class="jy_ico_08"><a href="connections.aspx?action=selectbrowselist&amp;type=0">我看过谁</a></li>
		   <li class="jy_ico_09"><a href="connections.aspx?action=selectkeeplist&amp;type=0">我的收藏</a></li>
		   <li class="jy_ico_10"><a href="connections.aspx?action=selectbuylist&amp;type=0">我联系过</a></li>
		   <li class="jy_ico_11"><a href="connections.aspx?action=selectbrowselist&amp;type=1">谁看过我</a></li>
		   <li class="jy_ico_12"><a href="connections.aspx?action=selectkeeplist&amp;type=1">谁收藏我</a></li>
		   <li class="jy_ico_13"><a href="connections.aspx?action=selectbuylist&amp;type=1">谁联系我</a></li>
		   <li class="jy_ico_14"><a href="connections.aspx?action=flowerlist&amp;type=1">收到鲜花</a></li>
		   		  </ul> -->
		  </div>
		  <div class="member_exit">
		  	<button type="button" class="exit">安全退出</button>
		  </div>
		  <div class="foot_link" id="foot_link">
			<ul class="link">
			<li><a href="">首页</a></li>
			<li><a href="{:url('user/service')}">留言</a></li>
			</ul>
			Copyright @ 2003-2018 51jy.com
		</div>
    </div>		
</body>
</html>