<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>首页-征婚-163k地方门户网站系统</title>
<meta name="keywords" content="交友栏目关键字,关键字,关键字,关键字,关键字" />
<meta name="description" content="交友栏目描述" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="/wap/main/css/mb-base.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/mb-index.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/mb-common.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/tieba-mb.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/comment-mb.css" />
<script src="/fds/js/jquery-1.11.3.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/wap/main/js/upload.js"></script>
<script src="/public/js/emotData.js"></script>
<style type="text/css">
.foot_link { display:none!important;}
#pageNavigation { display:none;}
.noMore { list-style:none; border-top:1px solid #eaebec; background-color:#eee!important; padding:20px 0; text-align:center; color:#666;}
#wrapper { position:static!important;}
#listEmpty { display:none!important;}
</style>
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
	{include file="public/header" /}
	<div class="o_main" style="padding-bottom:50px;">
    <div class="posts" id="resizeIMG">
  <!--<div class="tabs">
   <ul>
    <li>加入收藏</li>
    <li id="showLouzhu">只看楼主</li>
   </ul>
  </div>-->
	<input id="pagenum" type="hidden" value="1">
	<div id="wrapper">
		<div class="player_h5" id="player_h5" style="display: none; width: 394px; height: 222px;"><video controls="" webkit-playsinline="" playsinline="" autoplay=""></video></div>
		<div class="title">
			<span class="d display0">顶</span>{$ret.title}
			<span class="jinghua display0">精</span>
			<div class="info clearfix">
				<div class="right">{$ret.view}阅读<s class="line"></s>{$ret.reply}回帖</div>
				<div class="left"><a href="../tieba_a2276_b0_c0_d0_e0_f0_g0_h0_i0_p1.html" class="cat display2276">通讯数码</a></div>
			</div>
		</div>
		  <div class="Oposter" id="louzhuNode">
		   <div class="user_info">
			<div class="user_head"><img src="{$ret.headimg}" onerror="this.src='/wap/main/images/user_small.gif';this.onerror='';"></div>
			<ul>
			  <li>
			   <span class="uName">{$ret.author}</span>
			   <!-- <span class="grade i_1" title="初级">1</span> 
			   <span class="vipnum display0">无</span>
			   <span class="bazhu display0">版主</span>-->
			  </li>
			  <li>{$ret.time|date="m-d H:i",###}</li>
			</ul>
			<div class="op">楼主</div>
		   </div>
		   <div class="con" id="louzhuCon">
			{$ret.content}
			{if condition="isset($imgsarr)"}
			{volist name="imgsarr" id="vo"}
			<p><img src="{$vo}" style="width: 100%"></p>
			{/volist}
			{/if}
			<p class="blod"></p>
			<div class="p_btns">
				<p class="manage">　<a href="javascript:void(0);" onclick="superManage('6');" class="blue">超级管理</a>　<a href="https://www.mh163k.com/tieba/addedit.aspx?action=edit&amp;id=6" class="blue">编辑</a>　<a href="javascript:void(0);" onclick="$.managerTBisdel('6','2276');" class="blue">删除</a></p>
			</div>
		   </div>
		  </div>
		{if condition="isset($comarr)"}  
		<div class="post_list">
			<div id="pagingList" class="isrevert1">
				{volist name="$comarr" id="vo"}
				<div class="gentie post_item">
					<div class="user_info">
						<div class="user_head"><img src="{$vo.headimg}" onerror="this.src='/wap/main/images/user_small.gif';this.onerror='';"></div>
						<ul>
							<li>
							<span class="uName">{$vo.uname}</span>
							<!-- <span class="grade i_1" title="初级">1</span>
							<span class="vipnum display0">无</span>
							<span class="bazhu display0">版主</span> -->
							</li>
							<li>{$vo.louceng} {$vo.time|date="m-d H:i",###}</li>
						</ul>
						<div class="reply_btn" onclick="return loadRevertReplay(this,{$vo.id},'{$vo.uname}','0');"></div>
					</div>
					<div class="con">
						<div class="replaycontent1">
							{$vo.content}
						</div>
						{if condition="$vo.pic"}
						<p class=""><img src="{$vo.pic}" style="width: 100%"></p>
						{/if}
						{if condition="$vo.child"}
						{volist name="$vo.child" id="v"}
						<div class="comment_reply">
							<div class="comment_user clearfix"><a href="#" onclick="return loadRevertReplay(this,{$vo.id},'{$v.uname}','1');" class="replay_btn replay_life">回复</a><span class="comment_floor right">{$i}</span><span class="userName">{$v.uname}</span><span class="dtappenddate">{$v.time|date="m-d H:i",###}</span></div>
							<p class="comment_content">{$v.content}</p>
							{if condition="$v.pic"}
							<p class=""><img src="{$v.pic}" style="width: 100%"></p>
							{/if}
						</div>
						{/volist}
						{/if}
					</div>
					<p class="manage_replay display0" data-isrep="0">回复：<span class="replaycontent2"></span>　<span class="time"></span></p>
					<p class="manage"><a href="#" onclick="return edit_replay(this,{$vo.id});" class="blue">编辑和回评</a><a href="#" onclick="return loadDelQuick(this,{$vo.id});" class="blue" style="padding:0 13px;">更多操作</a></p>
				</div>
				{/volist}
				<div class="noMore" id="noMore">没有更多了</div>
			</div>
			<div id="pullUp" style="display:none;"><span class="loader">loadding</span></div>
			<div class="pageNavigation" id="pageNavigation"><div class="FirstPage"><span class="kill">&lt;</span></div><div class="EndPage"><span class="kill">&gt;</span></div><span class="pageNo">1/1</span></div>
		</div>
		{/if}
		<span class="loader" id="pageLoader" style="display:none;">loadding</span>
	</div>
	</div>
	{include file="public/huitie"}
	<div class="footFixed">
		<p class="display_isrevert_1">该帖已关闭回复</p>
		<div class="reply_hd clearfix display1" id="reply_hd">
			<ul>
				<!-- <li id="share2015"><span class="share">分享</span></li> -->
				<li id="openReply2"><span class="num" id="show_total_revert1">{$ret.reply}</span></li>
				<!-- <li id="reply_zan"><span class="zan">{$ret.view}</span></li> -->
				<li><a href="javascript:;" class="btn replay_louzhu" onclick="return loadRevertReplay(this,'0','楼主','0');">回楼主</a></li>
			</ul>
		</div>
	</div>
	{include file="public/footer" /}
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$("#closeReply").click(function(){
			$("#pageOther").hide(500);
		})
		$("#fabiao").click(function(data){
			var data={};
			    data.cont=$.trim($("#cmt_txt").html());
			    data.isrep=$("#isrep").val();
			    data.mid=$("#perid").val();
			    data.pic=$("input[name=imgs]").val();
			    data.__token__=$("input[name=__token__]").val();
			    data.fid=$("#fid").val();
			var $this=$(this);
			$.post("/wap/forum/fatie",data,function(data){
				if(data.code==1){
		          layer.msg(data.msg, {icon: 1, anim: 6, time: 1000},function(){
		            location.reload();
		          });
		        }else{
		          layer.msg(data.msg,function(){
		            location.href=data.url;
		          });
		        }
			});
		})
	})
	function loadRevertReplay(o,perid,uname,isrep){
		$("#replyName").text(uname);
		$("#perid").val(perid);
		$("#isrep").val(isrep);
		$("#pageOther").show(500);
		console.log(isrep);
		if(isrep==1){
            $("#cmt_txt").text("@"+uname+" : ");
		}
	}
</script>
</body>
</html>