<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>首页-征婚-163k地方门户网站系统</title>
<meta name="keywords" content="交友栏目关键字,关键字,关键字,关键字,关键字" />
<meta name="description" content="交友栏目描述" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/static/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="/wap/main/css/mb-base.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/mb-index.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/mb-common.css" />
<link rel="stylesheet" type="text/css" href="/wap/main/css/tieba-mb.css" />
<script src="/fds/js/jquery-1.11.3.min.js"></script>
<script src="/static/layer/layer.js"></script>
<style type="text/css">
.foot_link { margin-top:0!important;}
#pageNavigation { display:none;}
#noMore { padding:10px 0 20px;}
#hideHead,#hideHead2 { background-color:#eee; padding-bottom:10px;}
#listEmpty { display:none!important;}
.headerblack { background-color:#000!important;}
</style>
</head>
<body>
<div id="pageMain" class="page_srcoll page-current">
	{include file="public/header" /}
	<div class="o_main" style="padding-bottom:50px;">
	<!-- <div id="slide" class="clearfix" style="width: 414px;">
		<div id="content" style="width: 1242px; transform: translate3d(-826.959px, 0px, 0px) scale(1);">
			<div class="cell" style="width: 414px;"><a href="#3"><img src="/wap/main/images/201710011203108436508.jpg" alt=""></a></div>
			<div class="cell" style="width: 414px;"><a href="#3"><img src="/wap/main/images/201710011203108436508.jpg" alt=""></a></div>
			<div class="cell" style="width: 414px;"><a href="#3"><img src="/wap/main/images/201710011203108436508.jpg" alt=""></a></div>
		</div>
		<ul id="indicator"><li class="active">1</li><li class="">2</li><li class="">3</li></ul>
	</div> -->
	<span class="prev" id="slide_prev" style="display:none">上一张</span><span class="next" id="slide_next" style="display:none">下一张</span>
	<div class="tb_top_1">
		<ul>
			<li class="li_1"><a href=""><em>会员活动</em>会员线下聚会活动</a></li>
			<li class="li_2"><a href="{:url('forum/index')}"><em>会员社区</em>分享你我的情感之路</a></li>
			<!-- <li class="li_3"><a href="https://www.mh163k.com/gift/"><em>积分商城</em>会员积分兑换</a></li> -->
		</ul>
	</div>
	<div id="hideHead2">
    <div class="p_tabs clearfix">
      <ul>
        <li class='{eq name="act" value="nr"}cur{/eq}'><a href="{:url('forum/index',['act'=>'nr'])}"><span data-act="nr" >最新回复</span></a></li>
        <li class='{eq name="act" value="nd"}cur{/eq}'><a href="{:url('forum/index',['act'=>'nd'])}"><span data-act="nd" >最新发布</span></a></li>
        <li class='{eq name="act" value="ht"}cur{/eq}'><a href="{:url('forum/index',['act'=>'ht'])}"><span data-act="ht" >热帖排行</span></a></li>
        <li class='{eq name="act" value="jh"}cur{/eq}'><a href="{:url('forum/index',['act'=>'jh'])}"><span data-act="jh" >精华热帖</span></a></li>
      </ul>
    </div>
   </div>
  <div class="post_list">
  <div id="pagingList">
    {if condition="isset($topret)"}
    <div id="zhidingNode" class="zhidingNode">
      {volist name="$topret" id="vo"}
      <div class="item iszhiding1" id="item65">
        <a href="{:url('forum/detail',['id'=>$vo.id])}" class="link bold1" onclick="return setCookieID('65');">
        <h2><span class="d display1">顶</span><span class="j {$vo.choice?'':'display0'}">精</span>{$vo.title}</h2>
        </a>
      </div>
      {/volist}
    </div>
    {/if}
  {volist name="$ret" id="vo"} 
	<div class="item iszhiding0" id="item6">
 <div class="item_hd">
  <div class="pic"><img src="{$vo.headimg}" onerror="this.src='/wap/main/images/user_small.gif';this.onerror='';"></div>
  <p class="chrname">{$vo.author}<span class="vipnum display0">无</span></p>
  <div class="clearfix">
    <div class="right"><span class="num num_1">{$vo.view}</span></div>
    <span class="date">{$vo.time|date="m-d H:i",###}</span>
  </div>
  <div class="jinghua {$vo.choice?'':'display0'}">精</div>
 </div>
 <a href="{:url('forum/detail',['id'=>$vo.id])}" style="color:" class="link bold0">
 <h2><span class="d {$vo.settop?'':'display0'}">顶</span><span class="j display0">精</span>{$vo.title}</h2>
 <div class="chrcontent">{$vo.content}</div>
 <div class="hashongbao_forbox" style="top:60px;right:10px;"></div>
 </a>
 {if condition="$vo.pic"}
 <div class="con display_video_false_0"><div class="n_img" id="n_img_6" data-ischeck="1">
  {volist name="$vo.imgsarr" id="imglist"}
  <a href="" target="_blank" class="itemAlbum" original=""><img src="{$imglist}" data-src="{$imglist}" original="{$imglist}" data-ifshow="1" alt="" style="width: 115px; height: 90px;"><div class="feed_highlight" data-ischeck="0"></div></a>
  {/volist}
  </div></div>
 {/if}
 <ul class="item_ft">
  <li><span class="num num_1">{$vo.reply}</span></li>
  <li><span class="num num_2" data-id="6" data-ischeck="0"><span class="zan">{$vo.praise}</span></span></li>
  <li><a href="{:url('forum/detail',['id'=>$vo.id])}" class="num num_3"></a></li>
 </ul>
</div>
{/volist}
{$ret->render()}
<div class="nav_index_bottom nav_tb_bottom">
  <ul>
    <li><a href="/"><span class="home"></span>首页</a></li>
    <li id="nav_bankuai" class="current"><a href="javascript:void(0);" onclick="return showCatState(false);" style="color: #5cc55c"><span class="bankuai"></span>版块</a></li>
    <li><a href="javascript:;" class="seniorSend" style="background-color: #5cc55c"><span class="fatie"></span>发帖</a></li>
    <li><a href="javascript:void(0);" onclick="location.reload()"><span class="refresh"></span>刷新</a></li>
    <li><a href="{:url('user/index')}"><span class="mine"></span>我的</a></li>
  </ul>
</div>
</div>
	{include file="public/footer" /}
	</div>
</div>
<script type="text/javascript">
  $(".seniorSend").click(function(){
    var nickname=$('input[name=nickname]').val();
    if(nickname.length==0){
      layer.msg('请先登入',function(){
        location.href="{:url('login/index')}";
      });
    }else{
        location.href="{:url('forum/add')}";
    }
  })
</script>
</body>
</html>