<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>征婚交友-门户网站系统</title>
<meta name="keywords" content="征婚交友关键词，关键词，关键关键词" />
<meta name="description" content="认真严肃的同城征婚交友平台，拒绝非结婚目的的交友！" />
<link href="/fds/css/jiaoyou.css" rel="stylesheet" />
<link href="/fds/css/g2013.css" type="text/css" rel="stylesheet" />
<link href="/fds/css/common.css" type="text/css" rel="stylesheet" />
<link href="/fds/css/head.css" type="text/css" rel="stylesheet" />
{block name="style"}{/block}
<script src="/fds/js/jquery-1.11.3.min.js"></script>
<script src="/fds/js/head.js"></script>
<script src="/static/layer/layer.js"></script>
{block name="script"}{/block}
</head>
<body>
<div class="wrapper head8">
{include file="index/header"}
<div class="content w-1200 clearfix">
<style type="text/css">
.footWrap { margin-top:0;}
.jiaoyou { width:1200px; padding:15px 15px 0; margin:0 auto; border:1px solid #eee; background-color:#fff;}
#connections_list tr,#connections_list td { display:block;}
</style>
</div>
{block name="body"}{/block}

{include file="index/footer"}
</div>

<div class="layer" id="fixed_menu">
	<ul>
		<li class="join"><a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=add" class="iconB">我要加入</a></li>
		<li class="homepage"><a href="#" id="myzhuye" class="iconB">我的主页</a></li>
		<li class="data"><a href="https://www.mh163k.com/jiaoyou/connections.aspx?action=main" class="iconB">资料管理</a></li>
		<li class="gotop" id="top"><a href="#" class="iconB">返回顶部</a></li>
	</ul>
</div>
</body>
</html>