<div class="reply_box page_srcoll" id="pageOther" style="display:none;z-index: 1019;">
	<form action="" id="myform" method="post" target="tijiao">
	<div class="inner">
		<span class="title">回复<span id="replyName"></span></span>
		<div class="return_close" id="closeReply">返回</div>
		<div class="cmt_txt2" id="cmt_txt" placeholder="想跟他说点什么~" style=" margin-bottom:10px; height:160px; overflow:auto; -webkit-overflow-scrolling:touch; -webkit-user-select:auto;" contenteditable="true"></div>
		<input id="chrmarkForm" name="chrmark" type="hidden">
		<input id="isrep" name="isrep" type="hidden">
		<input id="perid" name="perid" type="hidden">
		<div class="reply_tabs" id="reply_tabs">
			<ul class="clearfix tab-hd">
				<li class="item" data-isvideo="0" data-isopen="0"><s class="s s_1"></s>表情</li>
				<li class="item" data-isvideo="0" data-isopen="0"><s class="s s_2"></s>图片</li>
			</ul>
			<div class="tab-cont" style="display:none;">
				<div class="face" id="emot_inner"></div>
			</div>
			<div class="tab-cont" style="display:none;">
			    <div class="imgcon">
		            <div id="xiangce" class="my_prop_imgitem_node clearfix">
		              <div class="upimgFileBtnNode"><div id="pageLoaderNode"><span id="pageLoader">loadding</span></div><img src="/wap/main/images/upimg.png" id="upimgFileBtn" class="upimgFileBtn imgview" alt="" style="height: 81.75px;"></div>
		            </div>
		            <input type="hidden" name="imgs" class="layui-input" value="">
		            <input type="hidden" name="isimgs" class="layui-input" value="">
	            </div>
			</div>
		</div>
		<input type="submit" class="rsubmit" value="发表" id="fabiao"/>
	</div>
	</form>
</div>