{extend name="layout/layout"}
{block name='style'}
<link href="/fds/css/reg.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/layui/css/layui.css">
{/block}
{block name="script"}
<script type="text/javascript" src="/static/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{/block}
{block name="body"}
    <div class="reg_header clearfix">
		<div class="w-1200">
			<div class="po"><a href="/">返回首页</a><span class="bor"></span><a href="/help/">帮助</a></div>
			<div class="logo"><a href="/" title=""><img src="../UploadFile/index/2017/7-19/201707190949409773675.png" alt=""></a></div>
			<div class="sub-logo">会员注册</div>
		</div>
	</div>
    <div class="w-1200 site_reg">
	<div class="bd" style="padding: 0px;">
		e123
		  <div class="layui-row">
		    <div class="layui-col-md2">
		      你的内容 9/12
		    </div>
		    <div class="layui-col-md10">
		      你的内容 3/12
		    </div>
		  </div>
	</div>
	</div>
{/block}